<% include ./template/pageHead.html %>
<link rel="stylesheet" href="/css/basic_person.css" />
<script type="text/javascript" src="/js/layout.js"></script>
<div id="div1">
    <pframe-normal id="'pfnor'" title="'智赢管家'" name="'pfnor'">
        <user head="head" name="userName" id="'user'" click="clickUser">
            <item datasource="userMenus" click="selUserMenu"></item>
        </user>
        <item datasource="menuItems" text="name" child="menu" url="url" icon="icon" click="selMenu">
            <% if (user.customer_id) { %>
            <manage text="'项目管理'" url="/system"></manage>
            <% } %>
            <combobox>
                <pcombobox-normal sel="selProject" id="'combobox1'" isborder="false" orientation="down" bind="true">
                    <header placeholder="项目名称"></header>
                    <item datasource="projectList" text="project_local_name"></item>
                </pcombobox-normal>
            </combobox>
        </item>
    </pframe-normal>
    <% include ./template/basic_person.html %>
    <% include ./template/password_tab.html %>
</div>


<% include ./template/pageFoot.html %>