    <% include ../../../template/pageHead.html %>
    <link rel="stylesheet" href="/css/equipmentSpace/spaceMng/reset.css" />
    <link rel="stylesheet" href="/css/equipmentSpace/spaceMng/index.css" />
    <link rel="stylesheet" href="/css/workOrder/planMonitor/see_orderDetail.css" />

    <script type="text/javascript" src="/js/equipmentSpace/spaceMng/model.js"></script>
    <script type="text/javascript" src="/js/equipmentSpace/spaceMng/controller.js"></script>
    <script type="text/javascript" src="/js/workOrder/planMonitor/tempData.js"></script>
    <script type="text/javascript" src="/js/equipmentSpace/spaceMng/index.js"></script>
    <script type="text/javascript" src="/js/equipmentSpace/spaceMng/event.js"></script>
    <script type="text/javascript" src="/js/public/orderDetail_pub.js"></script>
    <script type="text/javascript" src="/js/public/publicMethod.js"></script>

    <% include ../../equipmentSpace/equipmentMng/layer.html %>
    <% include /treeTemplate.html %>
    <% include /template.html %>
    <div class="contentWrap" id="spaceMoleMange">
        <layer :layer="layer"></layer>
           <pwindow-float id="floorCheckFloat" templateid="floor-detail-float" title="楼层详情" isshade="false" onclick="eventStop(event)">
                <animate maxpx="0" minpx="-480" orientation="right"></animate>
           </pwindow-float>
            <% if(tool_type=="Web"){ %>
            <pwindow-float id="spaceCheckFloat" templateid="space-detail-float" title="房间详情" isshade="false" onclick="eventStop(event)">
                <animate maxpx="0" minpx="-480" orientation="right"></animate>
                <button>
                    <pbutton-blue text="拆除" icon="＊"  isborder="false" click="verifyDestroy" v-show="!removeShowSign" ></pbutton-blue>
                </button>
           </pwindow-float>
            <% } else { %>
            <pwindow-float id="spaceCheckFloat" templateid="space-detail-float" title="房间详情" isshade="false" onclick="eventStop(event)">
                <animate maxpx="0" minpx="-480" orientation="right"></animate>
           </pwindow-float>
             <% } %>
              <pwindow-modal id="spaceWarnSet" title="房间提醒设置" templateid="space-warn-edit"></pwindow-modal>
            <pwindow-confirm id="desSpaceDialog" onclick="eventStop(event)">
            <button>
                <pbutton-blue  text="拆除" click="destroySure"></pbutton-blue>
                <pbutton-white text="取消"click="destroyCancle"></pbutton-white>
            </button>
            </pwindow-confirm>
            <pwindow-confirm id="quitEditDialog" onclick="eventStop(event)">
                <button>
                    <pbutton-blue  text="确定" click="quitEditSure" id="quitEditBut"></pbutton-blue>
                    <pbutton-white text="取消"click="quiteEditCancle"></pbutton-white>
                </button>
            </pwindow-confirm>
        <div class="spaceContent">
            <div class="leftContent">
                <div class="leftHead">
                    <div class="buildCombobox">
                        <pcombobox-normal isborder="false" bind="true" sel="buildLiSel" id="'buildDropDown'"> 
                            <header placeholder="建筑在这里可切换" click="buildHeadClick"></header>
                            <item datasource="allBuild" text="obj_name"></item>
                        </pcombobox-normal>
                    </div>
                    <div class="checkAll" onclick="checkAllFloor(event)"><span>查看全部房间</span></div>
                </div>
                <div class="floorWrap">
                     <% if(tool_type=="Web"){ %>
                    <div class="addButton" onclick="addFloorShow(event,'down')"><em>J</em><span>添加地下楼层</span></div>
                    <% } %>
                    <% if(tool_type=="Web"){ %>
                    <div class="floorContent"  id="floorContent">
                    <% }else { %>
                    <div class="floorContent  readFloor" id="floorContent">
                    <% } %>
                        <div class="floorItem" v-for="(item,findex) in allFloorInfo" v-on:click="floorItemClick(item)">
                            <div class="groundDiv" v-show="item.floor_sequence_id==-1">地  面</div>
                            <div class="itemCont" v-bind:class="{sel:item.floor_id==selFloorItem.floor_id}">
                                <div class="moveButton" v-on:click="moveDivClick($event)"><span class="up" v-on:click="upFloor(findex,item)">t</span><span class="down" v-on:click="downFloor(findex,item)">b</span></div>
                                <div class="floorTitle">
                                    <span>{{!!item.floor_type?floorTypeArr[item.floor_type-1]:'--'}}</span><em>-</em><span>{{item.floor_local_id}}</span>
                                </div>
                                <div class="info"><span>面积：{{item.area}}平方米</span><span>高度：{{item.net_height}}米</span></div>
                                <div class="func" v-bind:title="item.floor_func_type">功能说明：{{item.floor_func_type}}</div>
                                <div class="floorNumber"><span>{{item.floor_local_name}}</span></div>
                                <div class="checkDetail" v-on:click="checkFloorDetail($event,item)">查看详情</div>
                            </div>
                        </div>
                        <div class="groundDiv" v-show="!hasUnder">地  面</div>
                    </div>
                    <% if(tool_type=="Web"){ %>
                    <div class="addButton" onclick="addFloorShow(event,'up')"><em>J</em><span>向上加盖楼层</span></div>
                    <% } %>
                </div>
            </div>
            <div class="rightContent" id="spaceList">
                <div class="spaceHead">
                    <div class="rightTitle">
                        <% if(tool_type=="Web"){ %>
                        <div class="addButton">
                            <pbutton-white text="创建新房间" icon="+" click="addSpaceShow"></pbutton-white>
                        </div>
                        <% } %>
                        <div class="warnpic"><span onclick="showWarnSet(event)"></span></div>
                        <div class="checkpic"><span onclick="checkRemoveSpace(event)"></span></div>
                    </div>
                    <span class="title">{{floorShowTitle}}</span>
                </div>
                <div class="allFloor" v-show="floorShowTitle=='建筑下的全部房间'&&allSpace.length>0">
                    <div class="floorItem" v-for="item in allSpace" v-show="!(!item.floor_local_name&&item.spaces.length==0)">
                        <div class="title" v-show="!!item.floor_local_name">{{item.floor_local_name}}</div>
                        <div class="noSpace" v-show="item.spaces.length==0"><span>该楼层内尚无房间</span></div>
                        <div class="allSpace" v-show="item.spaces.length>0">
                            <div class="spaceItem" v-for="sitem in item.spaces" v-on:click="spaceItemClick($event,sitem)">
                                <div class="allOrder" v-show="sitem.work_orders.length>0">
                                    <div class="orderItem" v-for="witem in sitem.work_orders" v-on:click="orderSignClick($event,witem)">
                                        <span class="icon" v-bind:class="{'safeOrder':witem.order_type=='1','repairOrder':witem.order_type=='2','checkOrder':witem.order_type=='3','runOrder':witem.order_type=='4','securOrder':witem.order_type=='5','defineOrder':witem.order_type>5}"></span>
                                        <span class="num" v-show="witem.orders.length>1">{{witem.orders.length}}</span>
                                        <ul class="orderList">
                                            <li v-for="oitem in witem.orders" v-on:click="orderLiClick($event,oitem)"><span class="state">{{oitem.order_state_name}}</span><span>{{oitem.summary}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info">{{sitem.room_func_type_name}}<em v-show="!!sitem.room_func_type_name">-</em>{{sitem.room_local_id}}</div>
                                <div class="name">{{sitem.room_local_name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="allSpace singleFloor" v-show="floorShowTitle!='建筑下的全部房间'&&floorSpace.length>0">
                    <div class="spaceItem" v-for="item in floorSpace" v-on:click="spaceItemClick($event,item)">
                        <div class="allOrder" v-show="item.work_orders.length>0">
                            <div class="orderItem" v-for="witem in item.work_orders" v-on:click="orderSignClick($event,witem)">
                                <span class="icon" v-bind:class="{'safeOrder':witem.order_type=='1','repairOrder':witem.order_type=='2','checkOrder':witem.order_type=='3','runOrder':witem.order_type=='4','securOrder':witem.order_type=='5','defineOrder':witem.order_type>5}"></span>
                                <span class="num" v-show="witem.orders.length>1">{{witem.orders.length}}</span>
                                <ul class="orderList">
                                    <li v-for="oitem in witem.orders" v-on:click="orderLiClick($event,oitem)"><span class="state">{{oitem.order_state_name}}</span><span>{{oitem.summary}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="info">{{item.room_func_type_name}}<em v-show="!!item.room_func_type_name">-</em>{{item.room_local_id}}</div>
                        <div class="name">{{item.room_local_name}}</div>
                    </div>
                </div>
                <div class="noData" v-show="(floorShowTitle=='建筑下的全部房间'&&allSpace.length==0)||(floorShowTitle!='建筑下的全部房间'&&floorSpace.length==0)">
                </div>
            </div>
            <div class="removeSpace" id="removeSpace">
                <div class="removeHead">
                    <div class="cancel">
                        <pbutton-white text="取消" click="removeSpaceHide"></pbutton-white>
                    </div>
                    <div class="title">已拆除房间</div>
                </div>
                <div class="removeCont">
                    <div class="allFloor" v-show="desFloorSpace.length>0">
                        <div class="floorItem" v-for="item in desFloorSpace" v-show="!(!item.floor_local_name&&item.spaces.length==0)">
                            <div class="title" v-show="!!item.floor_local_name">{{item.floor_local_name}}</div>
                            <div class="noSpace" v-show="item.spaces.length==0"><span>该楼层内尚无房间</span></div>
                            <div class="allSpace" v-show="item.spaces.length>0">
                                <div class="spaceItem" v-for="sitem in item.spaces" v-on:click="spaceItemClick($event,sitem)">
                                    <div class="info">{{sitem.room_func_type_name}}<em v-show="!!sitem.room_func_type_name">-</em>{{sitem.room_local_id}}</div>
                                    <div class="name">{{sitem.room_local_name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="noData" v-show="desFloorSpace.length==0">
                    </div>
                </div>
            </div>
            <div class="removeSpace" id="addFloorDiv">
                <div class="removeHead">
                    <pbutton-white text="取消" click="addFloorHide" style="float: left;"></pbutton-white>
                    <pbutton-blue text="保存" style="float: right;" click="saveAddFloor"></pbutton-blue>
                </div>
                <div class="removeCont addFloorCont">
                    <div class="addDetail">
                        <div class="addItem">
                            <div class="name"><span><em>*</em>楼层本地名称：</span></div>
                            <div class="cont">
                                <ptext-text placeholder="'最多10个字'" bind="true" value="floorDetail.floor_local_name" widtye="inputText">
                                    <verify errtip="楼层本地名称不能为空!" verifytype="space"></verify>
                                    <verify errtip="楼层本地名称不可超过10个字！" verifytype="length" length="10"></verify>
                                </ptext-text>
                            </div>
                        </div>
                        <div class="addItem">
                            <div class="name"><span><em>*</em>楼层本地编码：</span></div>
                            <div class="cont">
                                <ptext-text placeholder="'请填写本地编码'" bind="true" value="floorDetail.floor_local_id" widtye="inputText" >
                                    <verify errtip="楼层本地编码不能为空!" verifytype="space"></verify>
                                </ptext-text>
                            </div>
                        </div>
                        <div class="addItem">
                            <div class="name"><span>BIM模型中编码：</span></div>
                            <div class="cont">
                                <ptext-text placeholder="'请填写BIM模型中编码'" bind="true" value="floorDetail.BIMID" widtye="inputText">
                                </ptext-text>
                            </div>
                        </div>
                        <div class="addItem">
                            <div class="name"><span>楼层性质：</span></div>
                            <div class="cont">
                                <pcombobox-normal align="left" sel="floorTypeSel" floortype="typeDrop">
                                    <header placeholder="请选择楼层性质"></header>
                                    <item datasource="floorTypeArr" text="name"></item>
                                </pcombobox-normal>
                            </div>
                        </div>
                        <div class="addItem">
                            <div class="name"><span>楼层功能：</span></div>
                            <div class="cont funcCont">
                                <ptext-textarea placeholder="'输入释义'" length="50" bind="true" value="floorDetail.floor_func_type">
                                </ptext-textarea>
                            </div>
                        </div>
                        <div class="addItem">
                            <div class="name"><span>楼层面积：</span></div>
                            <div class="cont">
                                <ptext-text placeholder="'请填写数字'" text="'㎡'" bind="true" value="floorDetail.area" widtye="inputText">
                                    <verify errtip="请输入数字!" verifytype="number"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                                </ptext-text>
                            </div>
                        </div>
                        <div class="addItem">
                            <div class="name"><span>楼层净高：</span></div>
                            <div class="cont">
                                <ptext-text placeholder="'请填写数字'" text="'m'" bind="true" value="floorDetail.net_height" widtye="inputText">
                                    <verify errtip="请输入数字!" verifytype="number"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                                </ptext-text>
                            </div>
                        </div>
                        <div class="addItem">
                            <div class="name"><span>楼层常驻人数：</span></div>
                            <div class="cont">
                                <ptext-text placeholder="'请填写数字'" text="'人'" bind="true" value="floorDetail.permanent_people_num" widtye="inputText">
                                     <verify errtip="请输入整数！" verifytype="int"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                                </ptext-text>
                            </div>
                        </div>
                        <div class="addItem">
                            <div class="name"><span>逐时流出人数：</span></div>
                            <div class="cont">
                                <ptext-text placeholder="'请填写数字'" text="'人/min'" bind="true" value="floorDetail.out_people_flow" widtye="inputText">
                                     <verify errtip="请输入整数！" verifytype="int"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                                </ptext-text>
                            </div>
                        </div>
                        <div class="addItem">
                            <div class="name"><span>逐时流入人数：</span></div>
                            <div class="cont">
                                <ptext-text placeholder="'请填写数字'" text="'人/min'" bind="true" value="floorDetail.in_people_flow" widtye="inputText">
                                     <verify errtip="请输入整数！" verifytype="int"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                                </ptext-text>
                            </div>
                        </div>
                        <div class="addItem">
                            <div class="name"><span>逐时楼层内现有人数：</span></div>
                            <div class="cont">
                                <ptext-text placeholder="'请填写数字'" text="'人'" bind="true" value="floorDetail.exsit_people_num" widtye="inputText">
                                     <verify errtip="请输入整数！" verifytype="int"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                                </ptext-text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="removeSpace addSpaceDiv" v-if="showPage=='addSpace'">
                <div class="removeHead">
                    <pbutton-white text="取消" click="addSpaceHide" style="float: left;"></pbutton-white>
                    <pbutton-blue text="保存" style="float: right;" click="saveAddSpace"></pbutton-blue>
                </div>
                <div class="removeCont">
                    <% include /addSpace.html %>
                </div>
            </div>
        </div>
        <% include ../../workOrder/planMonitor/see_orderDetail.html %>
    </div>

<% include ../../../template/pageFoot.html %>
