<script type="text/html" id="space-warn-edit">
    <div class="warnCont">
        <div class="warnExplain">当房间正参与到以下类型工单中时，您在页面中需要看到特殊提醒</div>
        <ul class="warnList">
            <li v-for="item in spaceRemind">
                <span class="cont"
                      v-bind:class="{'safeOrder':item.code=='1','repairOrder':item.code=='2','checkOrder':item.code=='3','runOrder':item.code=='4','securOrder':item.code=='5','defineOrder':item.code>5}">{{item.name}}</span>
                <span class="checkbox" v-bind:class="{checked:item.is_remind}" v-on:click="checkRemind(item)"></span>
            </li>
        </ul>

        <div class="edit_button">
            <pbutton-blue text="确定" click="sureWarnSet" style="margin-right: 40px;"></pbutton-blue>
            <pbutton-white text="取消" click="cancelWarnSet"></pbutton-white>
        </div>
    </div>
</script>
<script type="text/html" id="floor-detail-float">
    <div class="detailFloat" editsign="floor">
        <div class="detailItem" ftype="floor_local_name">     
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">楼层本地名称：</span><span class="cont">{{!!floorDetail.floor_local_name?floorDetail.floor_local_name:'--'}}</span>
                 <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                 <% } %>
            </div>
            <div class="editShow">
                <span class="name">楼层本地名称：</span>
                <div class="editInput">
                    <ptext-text placeholder="'最多10个字'" bind="true" value="floorDetail.floor_local_name" widtye="inputText">
                        <verify errtip="楼层本地名称不能为空!" verifytype="space"></verify>
                        <verify errtip="楼层本地名称不可超过10个字！" verifytype="length" length="10"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'floor_local_name')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="floor_local_id">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">楼层本地编码：</span><span class="cont">{{floorDetail.floor_local_id}}</span>
                 <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                 <% } %>
            </div>
            <div class="editShow">
                <span class="name">楼层本地编码：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写本地编码'" bind="true" value="floorDetail.floor_local_id" widtye="inputText">
                        <verify errtip="楼层本地编码不能为空!" verifytype="space"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'floor_local_id')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="BIMID">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">BIM模型中编码：</span><span class="cont" style="width:220px;">{{!!floorDetail.BIMID?floorDetail.BIMID:'--'}}</span>
                 <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                 <% } %>
            </div>
            <div class="editShow">
                <span class="name">BIM模型中编码：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写BIM模型中编码'" bind="true" value="floorDetail.BIMID" widtye="inputText">
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'BIMID')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="floor_type">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">楼层性质：</span><span class="cont">{{!!floorDetail.floor_type?floorTypeArr[floorDetail.floor_type-1]:'--'}}</span> 
                 <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">楼层性质：</span>
                <div class="editInput">
                    <pcombobox-normal align="left" id="editFloorType" sel="floorTypeSel">
                        <header placeholder="请选择楼层性质"></header>
                        <item datasource="floorTypeArr" text="name"></item>
                    </pcombobox-normal>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'floor_type')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="floor_func_type">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">楼层功能：</span><span class="cont">{{!!floorDetail.floor_func_type?floorDetail.floor_func_type:'--'}}</span>
                <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">楼层功能：</span>
                <div class="editText">
                    <ptext-textarea placeholder="'输入释义'" bind="true" value="floorDetail.floor_func_type">
                    </ptext-textarea>
                </div> 
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'floor_func_type')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="area">
            <div class="contShow" v-bind:class="{canEdit: detailEditSign }">
                <span class="name">楼层面积：</span><span class="cont">{{!!floorDetail.area?floorDetail.area:'--'}}<em
                    class="unit">㎡</em></span>
                   <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">楼层面积：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写数字'" text="'㎡'" bind="true" value="floorDetail.area" widtye="inputText">
                        <verify errtip="请输入数字!" verifytype="number"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'area')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="net_height">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">楼层净高：</span><span class="cont">{{!!floorDetail.net_height?floorDetail.net_height:'--'}}<em
                    class="unit">m</em></span>
                   <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">楼层净高：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写数字'" text="'m'" bind="true" value="floorDetail.net_height" widtye="inputText">
                             <verify errtip="请输入数字!" verifytype="number"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'net_height')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="permanent_people_num">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">楼层常驻人数：</span><span class="cont">{{!!floorDetail.permanent_people_num?floorDetail.permanent_people_num:'--'}}<em
                    class="unit">人</em></span>
                   <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">楼层常驻人数：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写数字'" text="'人'" bind="true" value="floorDetail.permanent_people_num" widtye="inputText">
                         <verify errtip="请输入整数！" verifytype="int"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'permanent_people_num')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="out_people_flow">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">逐时流出人数：</span><span class="cont">{{!!floorDetail.out_people_flow?floorDetail.out_people_flow:'--'}}<em class="unit">人/min</em></span>
                   <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">逐时流出人数：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写数字'" text="'人/min'" bind="true" value="floorDetail.out_people_flow"  widtye="inputText">
                     <verify errtip="请输入整数！" verifytype="int"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'out_people_flow')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="in_people_flow">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">逐时流入人数：</span><span class="cont">{{!!floorDetail.in_people_flow?floorDetail.in_people_flow:'--'}}<em
                    class="unit">人/min</em></span>
                   <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">逐时流入人数：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写数字'" text="'人/min'" bind="true" value="floorDetail.in_people_flow" widtye="inputText">
                         <verify errtip="请输入整数！" verifytype="int"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'in_people_flow')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="exsit_people_num">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">逐时楼层内现有人数：</span><span class="cont" style="width:210px;">{{!!floorDetail.exsit_people_num?floorDetail.exsit_people_num:'--'}}<em class="unit">人</em></span>
                  <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">逐时楼层内现有人数：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写数字'" text="'人'" bind="true" value="floorDetail.exsit_people_num" widtye="inputText">
                         <verify errtip="请输入整数！" verifytype="int"></verify>
                                     <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'exsit_people_num')">Z</span>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="space-detail-float">
    <div class="detailFloat" editsign="space">
        <div class="detailHead">基础</div>
        <div class="detailItem" ftype="build_local_name">
            <div class="contShow">
                <span class="name">所属建筑：</span><span class="cont">{{!!spaceDetail.build_local_name?spaceDetail.build_local_name:'--'}}</span>
            </div>
        </div>
        <div class="detailItem" ftype="floor_local_name">
            <div class="contShow">
                <span class="name">所属楼层：</span><span class="cont">{{!!spaceDetail.floor_local_name?spaceDetail.floor_local_name:'--'}}</span>
            </div>
        </div>
        <div class="detailItem" ftype="room_local_name">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">房间本地名称：</span><span class="cont">{{!!spaceDetail.room_local_name?spaceDetail.room_local_name:'--'}}</span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">房间本地名称：</span>
                <div class="editInput">
                    <ptext-text placeholder="'最多20个字'" bind="true" value="spaceDetail.room_local_name" widtye="inputText">
                        <verify errtip="房间本地名称不能为空!" verifytype="space"></verify>
                        <verify errtip="房间本地名称不可超过20个字！" verifytype="length" length="20"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'room_local_name')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="room_local_id">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">房间本地编码：</span><span class="cont">{{spaceDetail.room_local_id}}</span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">房间本地编码：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写本地编码'" bind="true" value="spaceDetail.room_local_id" widtye="inputText">
                        <verify errtip="房间本地编码不能为空!" verifytype="space"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'room_local_id')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="BIMID">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">BIM模型中编码：</span><span class="cont" style="width:220px;">{{!!spaceDetail.BIMID?spaceDetail.BIMID:'--'}}</span>
                      <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">BIM模型中编码：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写BIM模型中编码'" bind="true" value="spaceDetail.BIMID" widtye="inputText">
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'BIMID')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="room_func_type_name">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">房间功能区类型：</span><span class="cont" style="width:220px;">{{!!spaceDetail.room_func_type_name?spaceDetail.room_func_type_name:'--'}}</span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">房间功能区类型：</span>
                <div class="editDown">
                    <div class="contTreeHead" onclick="treeHeadClick(event)"><span>{{spaceDetail.room_func_type_name?spaceDetail.room_func_type_name:'请选择类型'}}</span><em>v</em>
                    </div>
                    <ul class="contTreeList" treeType="spaceTree">
                        <tenant-point v-for="item in allSpaceCode" :finfo="item" :rootcode="spaceDetail.room_func_type"></tenant-point>
                    </ul>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'room_func_type_name')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="length">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">长：</span><span class="cont">{{!!spaceDetail.length?spaceDetail.length:'--'}}<em class="unit">m</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">长：</span>
                <div class="editInput">
                    <ptext-text text="'m'" placeholder="'请填写数字'" bind="true" value="spaceDetail.length" widtye="inputText">
                        <verify errtip="请输入数字!" verifytype="number"></verify>
                    <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'length')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="width">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">宽：</span><span class="cont">{{!!spaceDetail.width?spaceDetail.width:'--'}}<em class="unit">m</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">宽：</span>
                <div class="editInput">
                    <ptext-text text="'m'" placeholder="'请填写数字'" bind="true" value="spaceDetail.width" widtye="inputText">
                            <verify errtip="请输入数字!" verifytype="number"></verify>
                    <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'width')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="height">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">高：</span><span class="cont">{{!!spaceDetail.height?spaceDetail.height:'--'}}<em class="unit">m</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">高：</span>
                <div class="editInput">
                    <ptext-text text="'m'" placeholder="'请填写数字'" bind="true" value="spaceDetail.height" widtye="inputText">
                            <verify errtip="请输入数字！" verifytype="number"></verify>
                    <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'height')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="area">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">房间面积：</span><span class="cont">{{!!spaceDetail.area?spaceDetail.area:'--'}}<em
                    class="unit">㎡</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">房间面积：</span>
                <div class="editInput">
                    <ptext-text text="'㎡'" placeholder="'请填写数字'" bind="true" value="spaceDetail.area" widtye="inputText">
                            <verify errtip="请输入数字！" verifytype="number"></verify>
                    <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'area')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="elec_cap">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">配电容量：</span><span class="cont">{{!!spaceDetail.elec_cap?spaceDetail.elec_cap:'--'}}<em class="unit">A</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">配电容量：</span>
                <div class="editInput">
                    <ptext-text text="'A'" placeholder="'请填写数字'" bind="true" value="spaceDetail.elec_cap" widtye="inputText">
                        <verify errtip="请输入数字！" verifytype="number"></verify>
                      <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'elec_cap')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="intro">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">备注：</span><span class="cont">{{!!spaceDetail.intro?spaceDetail.intro:'--'}}</span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">备注：</span>
                <div class="editText">
                    <ptext-textarea length="50" placeholder="'最多50个字'" bind="true" value="spaceDetail.intro">
                    </ptext-textarea>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'intro')">Z</span>
            </div>
        </div>
        <div class="detailHead">租户</div>
        <div class="detailItem" ftype="tenant_type_name">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">租赁业态类型：</span><span class="cont">{{!!spaceDetail.tenant_type_name?spaceDetail.tenant_type_name:'--'}}</span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">租赁业态类型：</span>
                <div class="editDown">
                    <div class="contTreeHead" onclick="treeHeadClick(event)"><span>{{spaceDetail.tenant_type_name?spaceDetail.tenant_type_name:'请选择类型'}}</span><em>v</em>
                    </div>
                    <ul class="contTreeList" treeType="tenantTree">
                        <tenant-point v-for="item in allRentalCode" :finfo="item" :rootcode="spaceDetail.tenant_type"></tenant-point>
                    </ul>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'tenant_type_name')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="tenant">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">所属租户：</span><span class="cont">{{!!spaceDetail.tenant?spaceDetail.tenant:'--'}}</span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">所属租户：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请输入租户名称'" bind="true" value="spaceDetail.tenant" widtye="inputText">
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'tenant')">Z</span>
            </div>
        </div>
        <div class="detailHead">人员信息</div>
        <div class="detailItem" ftype="permanent_people_num">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">房间常驻人数：</span><span class="cont">{{!!spaceDetail.permanent_people_num?spaceDetail.permanent_people_num:'--'}}<em
                    class="unit">人</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">房间常驻人数：</span>
                <div class="editInput">
                    <ptext-text text="'人'" placeholder="'请填写数字'" bind="true" value="spaceDetail.permanent_people_num" widtye="inputText">
                        <verify errtip="请输入整数！" verifytype="int"></verify>
                      <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'permanent_people_num')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="out_people_flow">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">逐时流出人数：</span><span class="cont">{{!!spaceDetail.out_people_flow?spaceDetail.out_people_flow:'--'}}<em class="unit">人/min</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">逐时流出人数：</span>
                <div class="editInput">
                    <ptext-text text="'人/min'" placeholder="'请填写数字'" bind="true" value="spaceDetail.out_people_flow" widtye="inputText">
                                <verify errtip="请输入整数！" verifytype="int"></verify>
                      <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'out_people_flow')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="in_people_flow">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">逐时流入人数：</span><span class="cont">{{!!spaceDetail.in_people_flow?spaceDetail.in_people_flow:'--'}}<em
                    class="unit">人/min</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">逐时流入人数：</span>
                <div class="editInput">
                    <ptext-text text="'人/min'" placeholder="'请填写数字'" bind="true" value="spaceDetail.in_people_flow" widtye="inputText">
                                <verify errtip="请输入整数！" verifytype="int"></verify>
                      <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'in_people_flow')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="exsit_people_num">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">逐时房间内现有人数：</span><span class="cont" style="width:200px;">{{!!spaceDetail.exsit_people_num?spaceDetail.exsit_people_num:'--'}}<em class="unit">人</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">逐时房间内现有人数：</span>
                <div class="editInput">
                    <ptext-text text="'人'" placeholder="'请填写数字'" bind="true" value="spaceDetail.exsit_people_num" widtye="inputText">
                                <verify errtip="请输入整数！" verifytype="int"></verify>
                      <verify errtip="不可超过10位！" verifytype="length" length="10"></verify> 
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'exsit_people_num')">Z</span>
            </div>
        </div>
        <div class="detailHead">水电气</div>
        <div class="detailItem" ftype="elec_power">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">用电功率：</span><span class="cont">{{!!spaceDetail.elec_power?spaceDetail.elec_power:'--'}}<em
                    class="unit">kW</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">用电功率：</span>
                <div class="editInput">
                    <ptext-text text="'kW'" placeholder="'请填写数字'" bind="true" value="spaceDetail.elec_power" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'elec_power')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="cool_consum">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">逐时冷量：</span><span class="cont">{{!!spaceDetail.cool_consum?spaceDetail.cool_consum:'--'}}<em
                    class="unit">kW</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">逐时冷量：</span>
                <div class="editInput">
                    <ptext-text text="'kW'" placeholder="'请填写数字'" bind="true" value="spaceDetail.cool_consum" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'cool_consum')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="heat_consum">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">逐时热量：</span><span class="cont">{{!!spaceDetail.heat_consum?spaceDetail.heat_consum:'--'}}<em
                    class="unit">kW</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">逐时热量：</span>
                <div class="editInput">
                    <ptext-text text="'kW'" placeholder="'请填写数字'" bind="true" value="spaceDetail.heat_consum" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'heat_consum')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="ac_water_press">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">空调水压力：</span><span class="cont">{{!!spaceDetail.ac_water_press?spaceDetail.ac_water_press:'--'}}<em
                    class="unit">MPa</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">空调水压力：</span>
                <div class="editInput">
                    <ptext-text text="'MPa'" placeholder="'请填写数字'" bind="true" value="spaceDetail.ac_water_press" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'ac_water_press')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="water_consum">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">用水量：</span><span class="cont">{{!!spaceDetail.water_consum?spaceDetail.water_consum:'--'}}<em class="unit">m³/h</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">用水量：</span>
                <div class="editInput">
                    <ptext-text text="'m³/h'" placeholder="'请填写数字'" bind="true" value="spaceDetail.water_consum" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'water_consum')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="water_press">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">自来水压力：</span><span class="cont">{{!!spaceDetail.water_press?spaceDetail.water_press:'--'}}<em class="unit">MPa</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">自来水压力：</span>
                <div class="editInput">
                    <ptext-text text="'MPa'" placeholder="'请填写数字'" bind="true" value="spaceDetail.water_press" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'water_press')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="hot_water_consum">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">热水用水量：</span><span class="cont">{{spaceDetail.hot_water_consum?spaceDetail.hot_water_consum:'--'}}<em
                    class="unit">m³/h</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">热水用水量：</span>
                <div class="editInput">
                    <ptext-text text="'m³/h'" placeholder="'请填写数字'" bind="true" value="spaceDetail.hot_water_consum" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'hot_water_consum')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="hot_water_press">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">热水压力：</span><span class="cont">{{spaceDetail.hot_water_press?spaceDetail.hot_water_press:'--'}}<em
                    class="unit">MPa</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">热水压力：</span>
                <div class="editInput">
                    <ptext-text text="'MPa'" placeholder="'请填写数字'" bind="true" value="spaceDetail.hot_water_press" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'hot_water_press')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="gas_consum">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">用燃气量：</span><span class="cont">{{spaceDetail.gas_consum?spaceDetail.gas_consum:'--'}}<em
                    class="unit">m³/h</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">用燃气量：</span>
                <div class="editInput">
                    <ptext-text text="'m³/h'" placeholder="'请填写数字'" bind="true" value="spaceDetail.gas_consum" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'gas_consum')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="gas_press">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">燃气压力：</span><span class="cont">{{spaceDetail.gas_press?spaceDetail.gas_press:'--'}}<em
                    class="unit">MPa</em></span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">燃气压力：</span>
                <div class="editInput">
                    <ptext-text text="'MPa'" placeholder="'请填写数字'" bind="true" value="spaceDetail.gas_press" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'gas_press')">Z</span>
            </div>
        </div>
        <div class="detailHead">关键指标</div>
        <div class="detailItem" ftype="PMV">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">热舒适PMV：</span><span class="cont">{{spaceDetail.PMV?spaceDetail.PMV:'--'}}</span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">热舒适PMV：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写数字'" bind="true" value="spaceDetail.PMV" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'PMV')">Z</span>
            </div>
        </div>
        <div class="detailItem" ftype="PPD">
            <div class="contShow" v-bind:class="{ canEdit: detailEditSign }">
                <span class="name">热舒适PPD：</span><span class="cont">{{spaceDetail.PPD?spaceDetail.PPD:'--'}}</span>
                     <% if(tool_type=="Web"){ %>
                <span class="edit" onclick="editItem(event)"><em>e</em>编辑</span>
                <% } %>
            </div>
            <div class="editShow">
                <span class="name">热舒适PPD：</span>
                <div class="editInput">
                    <ptext-text placeholder="'请填写数字'" bind="true" value="spaceDetail.PPD" widtye="inputText">
                             <verify errtip="请输入数字！" verifytype="number"></verify>
                    </ptext-text>
                </div>
                <span class="cancel" @click="cancelEdit($event)">x</span>
                <span class="sure" @click="sureEdit($event,'PPD')">Z</span>
            </div>
        </div>

    </div>

</script>
