<% include ../../../template/pageHead.html %>

<script type="text/javascript" src="../js/layout.js"></script>
<script type="text/javascript" src="../js/public/polyfill.js"></script>
<script type="text/javascript" src="../js/public/orderDetail_pub.js"></script>
<script type="text/javascript" src="../js/public/globalController.js"></script>
<script type="text/javascript" src="../js/public/publicMethod.js"></script>
<script src="../js/workOrder/myWorkOrder/controller.js"></script>

<link rel="stylesheet" href="../css/workOrder/myWorkOrder/myWorkOrderCreate.css" />
<link rel="stylesheet" href="/css/workOrder/planMonitor/see_planDetail.css"/>
<link rel="stylesheet" href="/css/workOrder/planMonitor/see_orderDetail.css"/>
<link rel="stylesheet" href="/css/workOrder/planMonitor/planMonitor_scrapList.css"/>
<link rel="stylesheet" href="/css/workOrder/planMonitor/planMonitor_scrapDetail.css"/>
<link rel="stylesheet" href="/css/workOrder/planMonitor/planMonitor_oldOrderRecord.css"/>
<link rel="stylesheet" href="/css/workOrder/planMonitor/planList_common.css"/>
<link rel="stylesheet" href="/css/workOrder/planMonitor/planCreate.css"/>
<link rel="stylesheet" href="/css/workOrder/planMonitor/planCreate_next.css"/>
<link rel="stylesheet" href="/css/workOrder/planMonitor/search_box.css"/>

<script type="text/javascript" src="../js/workOrder/myWorkOrder/model.js"></script>

<script src="/js/workOrder/planMonitor/model.js"></script>
<script src="/js/workOrder/planMonitor/controller.js"></script>
<script src="../js/workOrder/planMonitor/logger.js"></script>
<script src="/js/workOrder/planMonitor/event.js"></script>
<script src="/js/workOrder/planMonitor/tempData.js"></script>




<!-- </head>

<body style="height:100%"> -->
<div id="planMonitor">
    <%include planList_common.html%>
    <%include planMonitor_scrapList.html%>
    <%include planMonitor_scrapDetail.html%>
    <%include planMonitor_oldOrderRecord.html%>
    <%include see_planDetail.html%>
    <%include see_orderDetail.html%>
    <%include planCreate.html%>
    <%include planCreate_next.html%>


    <ploading-part id="list_loading" text="加载中..."></ploading-part>
    <pnotice-message id="publishNotice" text="成功"></pnotice-message>

</div>

<% include ../../../template/pageFoot.html %>