<div class="table_box" id="table_box" v-show="curPage == pages[0]">
    <div class="table_list">
        <div class="table_top">
            <ptab-navigation text="name" icon="icon" :id="'navBar'" datasource="model.buttonMenus" templateid='tabTemplate' sel="methods.tabChange(model,event)" bind="true"></ptab-navigation>
        </div>
    </div>
    <div class="searchList_table_noSetTab">
        <div class="noDateTip image-div">
            <img src="../images/nodata.png" alt="">
            <div>当前尚无计划，请联系相关人员前往分配工单处理职责版块进行设置</div>
        </div>
    </div>
</div>
<script type="text/html" id='tabTemplate'>
    <div class="table_content">
        <!-- 搜索栏  -->
        <div class="searchList_bar_box">
            <div class="search_bar">
                <ul class="search_bar_ul">
                    <li class="search_bar_box active">
                        <div class="search_bar_div">
                            <psearch-delay bind="true" id="'sop_name_search1'" placeholder="'输入计划名称查找'" change=" methods.getListMonthDate()"></psearch-delay>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="searchList_operat">
                <ul>
                    <li @click="openScrapList(1)"><img src="../../../../../images/scrap_blue_btn.png" alt=""><span>查看已作废的计划</span></li>
                    <!-- <li @click="createNewPlan(1)"><img src="../../../../../images/edit.png" alt=""><span>录入新计划</span></li> -->
                    <li @click="createNewPlan(1)"><pbutton-blue text="录入新计划" icon ="`"></pbutton-blue></li>
                </ul>
            </div>
        </div>
        <!-- 搜索条件切换 -->
        <div class="searchList_condi_box">
            <div class="searchList_condi_left">
                <h4>频率：</h4>
                <ul class="cycle_tableChange">
                    <!-- <li class="active">每日</li>
                    <li>每周</li>
                    <li>每月</li>
                    <li>每年</li> -->
                    <li :class="{active:items.type == cycleType}" v-for="(items,index) in cycleListData" v-text="items.name" :type="items.type" @click="cycleTabChange(items.type,items.name)"></li>
                </ul>
            </div>
            <div class="searchList_condi_rig">
            </div>
        </div>
        <!-- 条件切换列表 -->
        <div class="searchList_table">
            <div class="searchList_table_name">
                <span>
                    <i v-text="listTitlePlanRaceType == ''?'每日':listTitlePlanRaceType"></i>
                    <i v-text="listTitlePlanName"></i>
                </span>
                <div class="searchList_table_state">
                    <ul>
                        <li v-for="items in orderStateList_img">
                            <span v-if="items.code">
                                <img v-if="items.code!=''" :src="'../../../../../images/orderState/' + items.code +'.png'" alt="">
                                <i v-text="items.name">下次待发出工单</i>
                            </span>
                        </li>
                        <!-- <li>
                            <span><img src="../../../../../images/orderState/8.png" alt=""><i>完成</i></span>
                        </li>
                        <li>
                            <span><img src="../../../../../images/orderState/9.png" alt=""><i>终止</i></span>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="searchList_table_title">
                <div class="searchList_table_title_name">
                    <span :title="listTitlePlanName +'名称'" v-text="listTitlePlanName"></span>名称
                </div>
                <div class="searchList_table_title_cycle">
                    <span :title="listTitlePlanName +'周期'" v-text="listTitlePlanName"></span>周期
                </div>
                <div class="searchList_table_title_date">
                    <div class="searchList_table_title_data_top">
                        <div id="searchList_top_prevMonth" @click="searchPrevMonth(event)">
                            <span v-show="M_currMonth" v-text="M_currMonth !=1? M_currMonth-1 :12"></span>月
                        </div>
                        <div id="searchList_top_currMonth">
                            <span v-show="M_currMonth"  v-text="M_currMonth"></span>月
                        </div>
                        <div id="searchList_top_nextMonth" @click="searchNextMonth(event)">
                            <span v-show="M_currMonth"  v-text="M_currMonth !=12?M_currMonth +1 : 1"></span>月
                        </div>
                    </div>
                    <div class="searchList_table_title_data_bottom">
                        <div id="searchList_bott_currMonth">
                            <ul>
                                <li v-for="curr in currDayDate" v-text="curr.day"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searchList_table_list1" id="searchList_table_day">
                <div v-if="renderTableListDay" class="searchList_table_list1_box" v-for="renders in renderTableListDay">
                    <section v-if="renders.remind_type=='1'">正常</section>
                    <section v-if="renders.remind_type=='2'" class="yellow">即将失效</section>
                    <section v-if="renders.remind_type=='3'" class="red">已经到达失效时间</section>

                    <div :style="{height:(renders.max_freq_num*50)+renders.max_freq_num +'px'}" class="searchList_table_list1_name" @click="seePlanDetailShow(renders.plan_id)">
                        <div class="planName" :title="renders.plan_name" v-text="renders.plan_name"></div>
                    </div>
                    <div :style="{height:(renders.max_freq_num*50) +renders.max_freq_num +'px'}" class="searchList_table_list1_cycle">
                        <div>
                            <span v-text="renders.freq_cycle_desc"></span>
                        </div>
                    </div>
                    <!-- <div v-text="renders.renderListDay">
                        
                    </div> -->
                    <!-- {{}} -->
                    <div class="searchList_table_list1_date">
                        <div>
                            <ul v-for="items in renders.renderListDay">
                                <li :class="[!data.order_id ? '' : 'hand']" v-for="(data,index) in items" @click="clickSeeOrderDetail(data.order_id)">
                                    <span v-if="data.order_id" >
                                        <img v-if="data.order_state !='--'&&data.order_state !=''" :src="'../../../../../images/orderState/' + data.order_state +'.png'" alt="">    
                                    </span>
                                    <span v-if="data.is_next_order">
                                        <img :src="'../../../../../images/orderState/' + 'next.png'" alt="">    
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="searchList_table_noData" v-show="model.renderTableListDay.length == 0">
                    <div class="noDateTip image-div"><img src="../images/nodata.png" alt="暂无内容">
                        <div>暂无内容</div>
                    </div>
                </div>
            </div>
            <div class="searchList_table_list2" id="searchList_table_common">
                <div class="searchList_table_list2_box" v-for="renders in renderTableListCommon">
                    <!-- <div v-text="renders.row_count"></div> -->
                    <section v-if="renders.remind_type=='1'">正常</section>
                    <section v-if="renders.remind_type=='2'" class="yellow">即将失效</section>
                    <section v-if="renders.remind_type=='3'" class="red">已经到达失效时间</section>
                    <div :style="{height:(renders.row_count*50) + renders.row_count +'px'}" class="searchList_table_list2_name" @click="seePlanDetailShow(renders.plan_id)">
                        <div class="planName" :title="renders.plan_name" v-text="renders.plan_name"></div>
                    </div>
                    <div :style="{height:(renders.row_count*50) + renders.row_count +'px'}" class="searchList_table_list2_cycle">
                        <div>
                            <span>
                                <i v-text="renders.freq_cycle_desc"></i>
                            </span>
                        </div>
                    </div>
                    <!-- <div v-text="renders.renderListDay">
                        
                    </div> -->
                    <div class="searchList_table_list2_date">
                        <div>
                            <ul v-for="items in renders.dataCompareList">
                                <li :class="[!data.order_id ? '' : 'hand']" :style="{width:data.mark*model.rightTab_liWidth+data.mark-1 +'px'}" v-for="(data,index) in items.step1" @click="clickSeeOrderDetail(data.order_id)">
                                    <span v-if="!data.is_next_order" >
                                        <img :state="data.order_state" v-if="data.order_state && data.order_state!=''" :src="'../../../../../images/orderState/' + data.order_state +'.png'" alt="">    
                                    </span>
                                    <span v-if="data.is_next_order">
                                        <img v-show="data.is_next_order" :src="'../../../../../images/orderState/' + 'next.png'" alt="">    
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <div class="searchList_table_noData" v-show="model.renderTableListCommon.length == 0">
                    <div class="noDateTip image-div"><img src="../images/nodata.png" alt="暂无内容">
                        <div>暂无内容</div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- loading -->
        <ploading-part class="list_loading" text="加载中"></ploading-part>
    </div>

</script>