<div id="see_detail_bg" v-if="curPage == pages[4]">
    <div class="see_detail_box">
        <div class="see_detail_page">
            <div class="see_detail_page_top">
                <div class="see_detail_page_back">
                    <pbutton-white  bind='true' text="'返回'" @click="detailGoBackPlanList()"></pbutton-white>
                </div>
                <div class="see_detail_page_title">
                    <span v-text="planDetailData.plan_name">计划详情名称</span>
                </div>
                <div class="see_detail_page_save">
                    <ul>
                        <li @click="historyModalShow()">
                            <img src="../../../../../images/history_icon.png" alt="">
                        </li>
                        <li @click="clickScrapPlan()">
                            <em>
                                <img src="../../../../../images/scrap_btn.png" alt="">
                            </em>
                            <span>作废计划</span>
                        </li>
                        <li @click="clickEditPlan(2)">
                            <em>
                                <img src="../../../../../images/edit_btn.png" alt="">
                            </em>
                            <span>修改计划</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="see_detail_page_box">
                <div class="see_detail_page_con">
                    <h3 v-if="planDetailData.remind_type == '0'" class="planMonitor_detail_page_con_tit">
                        <span>最新修改内容尚未生效,生效时间为<i  v-text="orderDetail_pub.timeFormatting(planDetailData.plan_start_time)"></i></span>
                    </h3>
                    <h3 v-if="planDetailData.remind_type == '2'" class="planMonitor_detail_page_con_tit">
                        <span>此计划即将到达失效时间；如需继续使用计划，请延长生效时间</span>
                    </h3>
                    <h3 v-if="planDetailData.remind_type == '3'" class="planMonitor_detail_page_con_tit">
                        <span>此计划已经到达失效时间；如需继续使用计划，请修改生效时间</span>
                    </h3>
                    <div class="see_detail_plan_set">
                        <h4 class="see_detail_plan_set_tit"><span>基本信息</span></h4>
                    </div>
                    <div class="see_detail_plan_name">
                        <div>计划名称：</div><span v-text="planDetailData.plan_name"></span>
                    </div>
                    <div class="see_detail_plan_name">
                        <div>工单类型：</div><span v-text="planDetailData.order_type_name">维保</span>
                    </div>
                    <div class="see_detail_plan_name">
                        <div>工单紧急程度：</div><span v-text="planDetailData.urgency">中</span>
                    </div>
                    <div class="see_detail_plan_name">
                        <div>工单提前发送时间：</div><span>提前<i v-text="planDetailData.ahead_create_time"></i>小时</span>
                    </div>
                    <div class="see_detail_plan_name">
                        <div>计划频率：</div><span>每<i v-text="transfYMWD(planDetailData.freq_cycle)"></i><i v-text="planDetailData.freq_num"></i>次</span>
                    </div>
                    <div class="planMonitor_detail_plan_name planMonitor_detail_plan_name1">
                        <ul v-if="planDetailData.freq_cycle == 'y'">
                            <li v-for="(times,index) in planDetailData.freq_times">
                                <div>第<span>{{index +1}}</span>次</div>：
                                <div>
                                    <i v-text="times.start_time.time_day.substr(0,2) +'月'"></i><i v-text="times.start_time.time_day.substr(2,4) +'日'"></i>
                                    
                                    <i v-text="times.start_time.time_hour"></i>:<i v-text="times.start_time.time_minute"></i>
                                </div>
                                <div> 至 </div>
                                <div>
                                    <i v-text="times.end_time.time_day.substr(0,2)+'月'"></i><i v-text="times.end_time.time_day.substr(2,4) +'日'"></i>
                                    <i v-text="times.end_time.time_hour"></i>:<i v-text="times.end_time.time_minute"></i>
                                </div>
                            </li>
                        </ul>
                        <ul v-if="planDetailData.freq_cycle == 'm'">
                            <li v-for="(times,index) in planDetailData.freq_times">
                                <div>第<span>{{index +1}}</span>次</div>：
                                <div>
                                    <i v-text="times.start_time.time_day.substr(0,2)+'日'"></i>
                                    <i v-text="times.start_time.time_hour"></i>:<i v-text="times.start_time.time_minute"></i>
                                </div>
                                <div> 至 </div>
                                <div>
                                    <i v-text="times.end_time.time_day.substr(0,2)+'日'"></i>
                                    <i v-text="times.end_time.time_hour"></i>:<i v-text="times.end_time.time_minute"></i>
                                </div>
                            </li>
                        </ul>
                        <ul v-if="planDetailData.freq_cycle == 'w'">
                            <li v-for="(times,index) in planDetailData.freq_times">
                                <div>第<span>{{index +1}}</span>次</div>：
                                <div>
                                    <i v-text="methods.filter_weekDetail_trans( '0' +times.start_time.time_day)"></i>
                                    <i v-text="times.start_time.time_hour"></i>:<i v-text="times.start_time.time_minute"></i>
                                </div>
                                <div> 至 </div>
                                <div>
                                    <i v-text="methods.filter_weekDetail_trans('0' +times.end_time.time_day)"></i>
                                    <i v-text="times.end_time.time_hour"></i>:<i v-text="times.end_time.time_minute"></i>
                                </div>
                            </li>
                        </ul>
                        <ul v-if="planDetailData.freq_cycle == 'd'">
                            <li v-for="(times,index) in planDetailData.freq_times">
                                <div>第<span>{{index +1}}</span>次</div>：
                                <div>
                                    <i v-text="times.start_time.time_hour"></i>:<i v-text="times.start_time.time_minute"></i>
                                </div>
                                <div> 至 </div>
                                <div>
                                    <i v-text="times.end_time.time_hour"></i>:<i v-text="times.end_time.time_minute"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="see_detail_plan_name">
                        <div>计划生效时间：</div>
                        <span>
                            <i v-text="planDetailData.plan_start_type == '1'?'发布成功后立即':orderDetail_pub.timeFormatting(planDetailData.plan_start_time)"></i>&nbsp;—&nbsp;
                            <i v-text="planDetailData.plan_end_time == ''?' 一直生效':orderDetail_pub.timeFormatting(planDetailData.plan_end_time)"></i>
                        </span>
                    </div>
                    <div class="border_dashed">
                    </div>
                    <div class="see_detail_plan_set">
                        <h4 class="see_detail_plan_set_tit"><span>工作事项</span></h4>
                    </div>
                    <div class="see_detail_word_item">
                        <ul>
                            <li class="see_detail_item_li" v-for="info in planDetailData.draft_matters">
                                <h4 v-text="info.matter_name"></h4>
                                <div>
                                    <span>
                                    <!-- <i v-text="arrTransfString(info.desc_objs,'obj_name')"></i> -->
                                    <!-- <i v-text="arrTransfString(info.desc_sops,'sop_name')"></i> -->
                                    <i v-text="info.description"></i></span>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 作废计划 -->
<pwindow-confirm id="scrapModal" title="您确定要作废计划吗？" subtitle="被作废的计划将无法恢复">

    <button>
        <pbutton-backred text="'作废'" bind='true' @click="scrapBtnYes()"></pbutton-backred>
        <pbutton-white text="'取消'" bind='true' @click="scrapModalHide()"></pbutton-white>
    </button>
</pwindow-confirm>