<div id="see_orderDetail_bg" v-if="curPage == 'see_orderDetail'">
    <div class="see_orderDetail_box">
        <div class="see_orderDetail_page">
            <div class="see_orderDetail_page_top">
                <div class="see_orderDetail_page_back">
                    <pbutton-white text="返回" onclick="orderDetail_pub.orderDetail_goBack()"></pbutton-white>
                </div>
                <div class="see_planDetail_object_tishi" v-if="orderDetail_data.goBackFlag =='4' && orderDetail_data.choiceObjectFlag== true">！标准操作中有几处需记录操作结果的对象，请在下面表格的相应位置为其选择具体的系统设备</div>
                <div class="see_orderDetail_page_save">
                    <div v-if="orderDetailData.order_state != '8' && orderDetailData.order_state !='9'">
                        <pbutton-white v-if="orderDetail_data.goBackFlag =='2' || orderDetail_data.goBackFlag =='3' " bind='true' text="'指派'" onclick="orderDetail_pub.clickAssignSet()"></pbutton-white>
                    </div>
                    <div v-if="orderDetailData.order_state != '8' && orderDetailData.order_state !='9'">
                        <pbutton-white v-if="orderDetail_data.goBackFlag =='2' || orderDetail_data.goBackFlag =='3'" bind='true' text="'中止'" onclick="orderDetail_pub.stopOrder_con_show()"></pbutton-white>
                    </div>
                    <!-- order_state =1时为草稿 -->
                    <div v-if="!orderDetailData.order_state || orderDetailData.order_state == '1'">
                        <pbutton-white v-if="orderDetail_data.goBackFlag =='4'" bind='true' text="'发布'" onclick="orderDetail_pub.orderNewCreatePublish()"></pbutton-white>
                    </div>
                </div>
            </div>
            <!-- <div class="see_planDetail_object_tishi" v-if="orderDetail_data.goBackFlag =='4' && orderDetail_data.choiceObjectFlag== true">！标准操作中有几处需记录操作结果的对象，请在下面表格的相应位置为其选择具体的系统设备</div> -->
            <div id="scrollBox" class="see_orderDetail_page_grid">
                <!-- 顶部列表 -->
                <div v-if="orderDetail_data.goBackFlag =='4'" class="see_orderDetail_grid_top">
                    <ul>
                        <li>
                            <section class="order_detail_top1_left">
                                <h4>
                                    工单类型
                                </h4>
                                <span v-text="orderDetailData.order_type_name">
                                    维保
                                </span>
                            </section>
                            <section class="order_detail_top1_right">
                                <h4>
                                    工单紧急程度
                                </h4>
                                <span v-text="orderDetailData.urgency">
                                    中
                                </span>
                            </section>
                        </li>
                        <li>
                            <section class="order_detail_top2_left">
                                <h5>
                                    要求开始时间
                                </h5>
                                <span v-text="orderDetailData.ask_start_time!='发单后立即开始'? orderDetail_pub.timeFormatting(orderDetailData.ask_start_time):'发单后立即开始'"></span>
                            </section>
                            <section class="order_detail_top2_center">
                                <h5>
                                    要求固定时间内完成
                                </h5>
                                <span v-text="orderDetailData.ask_end_limit?orderDetailData.ask_end_limit + '小时':''">2017.5.1 08:00</span>
                            </section>
                            <section class="order_detail_top2_right">
                                <h5>
                                    要求结束时间
                                </h5>
                                <span v-if="orderDetailData.ask_end_time" v-text="orderDetailData.ask_end_time?orderDetail_pub.timeFormatting(orderDetailData.ask_end_time):''"></span>
                            </section>
                        </li>
                        <li>
                            <h4>
                                所需工具
                            </h4>
                            <div :title="orderDetail_pub.arrToString(orderDetailData.required_tools)" v-text="orderDetail_pub.arrToString(orderDetailData.required_tools)">
                                <!-- 工具名称 -->
                            </div>
                            <section v-if="orderDetail_data.goBackFlag =='4'">
                                <div v-if="!orderDetailData.order_state || orderDetailData.order_state == '1'" :style="{'padding-top':'5px'}">
                                    <pbutton-white bind='true' text="'+添加工具'" onclick="orderDetail_pub.clickToolListShow(event)"></pbutton-white>
                                    <div class="tool-select-list tool nextStepSelToolPop" id="nextStepSelToolPop">
                                        <div class="tool-select-list-title">
                                            <span>选择工具</span>
                                        </div>
                                        <div class="tool-select-list-search">
                                            <psearch-delay id="delay-search" change="orderDetail_pub.getToolList({'obj_type': '3','obj_name':$('#delay-search').pval().key})"
                                                placeholder="添加关键字"></psearch-delay>
                                        </div>
                                        <div class="tool-select-list-body">
                                            <div class="search-list" v-for="(item, toolIndex) in commonData.publicModel.toolList">
                                                <span v-text="item.obj_name" :title="item.obj_name">工具1</span>
                                                <div>
                                                    <!--<pswitch-checkbox bind="true" id="'nextStepToolCheckbox' + toolIndex" disabled="item.selected" click="commonMethod.toggleSelTool"></pswitch-checkbox>-->
                                                    <div :id="'nextStepToolCheckbox' + toolIndex" class="pcheckbox" @click="orderDetail_pub.toggleSelTool(item,event)">
                                                        <span class="pcheckbox_input" :class="item.checked ? 'pcheckbox-checked' : ''"></span>
                                                        <span class="pswitch_label"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ploading-part id="tool_loading" text="加载中"></ploading-part>
                                            <section class="no_tool_tip" v-show="commonData.publicModel.toolList.length == '0'">
                                                <div>
                                                    <img src="../../../../images/sassNodata.png" alt="">
                                                </div>
                                                <span>当前尚无工具</span>
                                            </section>
                                        </div>
                                        <div class="tool-select-list-btn">
                                            <!--<div>-->
                                            <!--<pbutton-white text="自定义"></pbutton-white>-->
                                            <!--</div>-->
                                            <div :style="{'margin-top':'4px'}">
                                                <pbutton-blue text="确定" click="orderDetail_pub.choiceToolYes()"></pbutton-blue>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
                    </ul>
                </div>
                <div v-else class="see_orderDetail_grid_top">
                    <ul>
                        <li>
                            <h4>
                                工单类型
                            </h4>
                            <div v-text="orderDetailData.order_type_name">
                                维保
                            </div>
                        </li>
                        <li>
                            <h5>
                                要求开始时间
                            </h5>
                            <span v-text="orderDetailData.ask_start_time? orderDetail_pub.timeFormatting(orderDetailData.ask_start_time):'' ">2017.5.1 08:00</span>
                            <h5>
                                要求结束时间
                            </h5>
                            <span v-if="orderDetailData.ask_end_time" v-text="orderDetailData.ask_end_time?orderDetail_pub.timeFormatting(orderDetailData.ask_end_time) : ''">2017.7.1 08:00</span>
                        </li>
                        <li>
                            <h4>
                                所需工具
                            </h4>
                            <div v-text="orderDetail_pub.arrToString(orderDetailData.required_tools)">
                                扳手、螺丝刀、电钻
                            </div>
                            <section v-if="orderDetail_data.goBackFlag =='4'">
                                <div v-if="!orderDetailData.order_state || orderDetailData.order_state == '1'">
                                    <pbutton-white bind='true' text="'+添加工具'" onclick="orderDetail_pub.clickToolListShow(event)"></pbutton-white>
                                    <div class="tool-select-list tool nextStepSelToolPop" id="nextStepSelToolPop">
                                        <div class="tool-select-list-title">
                                            <span>选择工具</span>
                                        </div>
                                        <div class="tool-select-list-search">
                                            <psearch-delay id="delay-search" placeholder="添加关键字"></psearch-delay>
                                        </div>
                                        <div class="tool-select-list-body">
                                            <div class="search-list" v-for="(item, toolIndex) in commonData.publicModel.toolList">
                                                <span v-text="item.obj_name" :title="item.obj_name">工具1</span>
                                                <div>
                                                    <!--<pswitch-checkbox bind="true" id="'nextStepToolCheckbox' + toolIndex" disabled="item.selected" click="commonMethod.toggleSelTool"></pswitch-checkbox>-->
                                                    <div :id="'nextStepToolCheckbox' + toolIndex" class="pcheckbox" @click="orderDetail_pub.toggleSelTool(item,event)">
                                                        <span class="pcheckbox_input" :class="item.checked ? 'pcheckbox-checked' : ''"></span>
                                                        <span class="pswitch_label"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <section class="no_tool_tip" v-show="commonData.publicModel.toolList.length == '0'">
                                                <div>
                                                    <img src="../../../../images/sassNodata.png" alt="">
                                                </div>
                                                <span>当前尚无工具</span>
                                            </section>
                                        </div>
                                        <div class="tool-select-list-btn">
                                            <!--<div>-->
                                            <!--<pbutton-white text="自定义"></pbutton-white>-->
                                            <!--</div>-->
                                            <div>
                                                <pbutton-blue text="确定" click="orderDetail_pub.choiceToolYes()"></pbutton-blue>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </li>
                    </ul>
                </div>
                <!-- 内容区域 -->
                <div class="see_orderDetail_grid_tab_ul" v-for="(matters,index1) in orderDetailData.matters">
                    <div class="see_orderDetail_grid_tab_tit">
                        <div class="see_orderDetail_grid_name" v-text="matters.matter_name">
                        </div>
                        <div class="see_orderDetail_grid_result">
                            反馈结果
                        </div>
                    </div>
                    <div class="see_orderDetail_grid_tab" v-for="(matter_steps,index2) in matters.matter_steps" :class="{orderContentArr:matter_steps.obj_id || matter_steps.description}">
                        <!-- {{有id或者有描述}} -->
                        <div v-if="matter_steps.obj_id || matter_steps.description" class="see_orderDetail_grid_tab_div">
                            <!-- 左侧列表 -->
                            <div class="see_orderDetail_grid_tab_left">
                                <div class="see_orderDetail_grid_matter_info">
                                    <h4>事件概述：</h4>
                                    <p v-text="matter_steps.description"></p>
                                </div>
                                <div class="see_orderDetail_grid_list" v-for="(steps,index3) in matter_steps.steps">
                                    <ul>
                                        <!-- 判断如果内容是常规内容并且数量大于0 -->
                                        <li class="see_orderDetail_grid_list_operat2" :class="{borderNone:matter_steps.steps.length >0 && steps.step_type=='5'}">
                                            <h4 class="leftBorderCls" v-text="steps.step_sequence"></h4>
                                            <div>
                                                <span v-text="" v-if="steps.step_type == '1'"></span>
                                                <span v-text="steps.content" v-if="steps.step_type == '3'||steps.step_type == '4'">

                                                </span>
                                                <ul v-if="steps.step_type != '3'&& steps.step_type != '4'&& steps.step_type != '6'&&steps.step_type != '1'">
                                                    <li>
                                                        <h5>作业前检查项：</h5>
                                                        <p v-if="steps.pre_conform" v-text="steps.pre_conform"></p>
                                                    </li>
                                                    <li>
                                                        <h5>标准操作要求：</h5>
                                                        <p v-if="steps.content" v-text="steps.content"></p>
                                                    </li>
                                                    <li>
                                                        <h5>注意事项：</h5>
                                                        <p v-if="steps.notice" v-text="steps.notice"></p>
                                                    </li>
                                                    <li>
                                                        <h5>操作记录要求：</h5>
                                                        <div v-for="(confirm_result,index4) in steps.confirm_result">
                                                            <!-- {{steps.confirm_result}} -->
                                                            <div class="confirm_result_div1">
                                                                <div class="confirm_result_div2">
                                                                    <em v-text="confirm_result.obj_name"></em>
                                                                    <span v-for="parents in confirm_result.parents">
                                                                        (
                                                                        <i v-for="(names,naIndex) in parents.parent_names" v-text="parents.parent_names.length == naIndex + 1?names : names + '-'"></i>)

                                                                    </span>
                                                                </div>
                                                                <div class="choiceObjectBtn" :type="confirm_result.obj_type"></div>
                                                                <section v-if="orderDetail_data.goBackFlag =='4'">
                                                                    <div v-if="!orderDetailData.order_state || orderDetailData.order_state == '1'">
                                                                        <div v-show="confirm_result.obj_type == 'system_class' || confirm_result.obj_type == 'equip_class'">
                                                                            <pbutton-blue bind="true" text="'选择具体系统设备'" @click="orderDetail_pub.choiceObjExample(confirm_result,$event,confirm_result.obj_id,confirm_result.obj_type,index1,index2,index3,index4,matter_steps.obj_id)"></pbutton-blue>
                                                                        </div>
                                                                    </div>

                                                                </section>
                                                            </div>
                                                            <div class="confirm_result_info_point_box">
                                                                <i class="sear_info_point_name" v-for="info_points in confirm_result.info_points" v-text="info_points.name"></i>
                                                                <i class="sear_info_point_name" v-for="customs_info in confirm_result.customs" v-text="customs_info.name"></i>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <!-- <p v-if="steps.step_type == '6'" v-text="steps.content"></p> -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 右侧列表 -->
                            <div class="see_orderDetail_grid_tab_rig">
                                <div class="see_orderDetail_grid_tab_rig_box" v-for="(feedback,index4) in matter_steps.feedback">
                                    <ul class="see_orderDetail_grid_tab_rig_box_list">
                                        <!-- step_type = 3 拍照  step_type = 4 扫码-->
                                        <li v-if="feedback.step_type == '3' || feedback.step_type == '4'">
                                            <h4>
                                                <span v-if="feedback.step_sequence" v-text="feedback.step_sequence + ','"></span>
                                                <i v-text="feedback.description"></i>
                                            </h4>
                                            <div v-for="photos in feedback.photos">
                                                <img :src="photos" alt="">
                                            </div>
                                        </li>
                                        <!-- step_type = 1 文字输入 -->
                                        <li v-if="feedback.step_type == '1'">
                                            <h4>
                                                <span v-if="feedback.step_sequence" v-text="feedback.step_sequence + ','"></span>
                                                <i v-text="feedback.description"></i>
                                            </h4>
                                        </li>
                                        <!-- 有confirm_result是常规内容的信息点反馈 -->
                                        <li v-if="feedback.step_type == '5'">
                                            <h4>
                                                <span v-if="feedback.step_sequence" v-text="feedback.step_sequence + ','">
                                                    <em v-text="feedback.description"></em>
                                                </span>
                                                <div>
                                                    <ul v-for="item in feedback.confirm_result" class="order_detail_feedback_result">
                                                        <!-- 对象名称 -->
                                                        <li v-text="item.obj_name">
                                                        </li>
                                                        <!-- 信息点名称 -->
                                                        <li v-if="item.info_points" v-for="info_points in item.info_points" v-text="info_points.name + ':' + info_points.value + info_points.unit +','"></li>
                                                        <li v-for="customs in item.customs">
                                                            <span v-if="customs.type=='1'" v-text="customs.content"></span>
                                                            <span v-else-if="customs.type=='2'" v-text="customs.item"></span>
                                                            <span v-else-if="customs.type=='3'" v-text="customs.content">
                                                                <i v-for="items in customs.items" v-text="items"></i>
                                                            </span>
                                                            <span v-else-if="customs.type=='4'" v-text="customs.value"></span>
                                                            <span v-else-if="customs.type=='5'" v-text="customs.name + ':' + customs.value + customs.unit"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- <i v-if="feedback.pre_conform_result" v-text="feedback.pre_conform_result + ':'"></i> -->
                                                <i>

                                                </i>
                                            </h4>
                                        </li>
                                    </ul>
                                </div>
                                <div class="see_orderDetail_grid_tab_rig_box_operatPerson" v-if="matter_steps.executors.length >0">
                                    <div>处理人：</div>
                                    <!-- <p v-for="executors in matter_steps.executors" v-text="executors"></p> -->
                                    <p v-text="matter_steps.executors.length>0?orderDetail_pub.arrToString(matter_steps.executors):'--'"></p>

                                </div>
                            </div>
                        </div>
                        <!-- 没有id且没有描述 -->
                        <div code v-if="!matter_steps.obj_id && !matter_steps.description" class="see_orderDetail_grid_tab_div_sign">
                            <div v-if="matter_steps.feedback.length <= 0" class="see_orderDetail_grid_tab_div_sign_left">
                                确认事项完成后签字:
                            </div>
                            <div v-if="matter_steps.feedback.length >0" class="see_orderDetail_grid_tab_div_sign_left">
                                已人工签字确认
                            </div>
                            <div v-if="matter_steps.feedback" class="see_orderDetail_grid_tab_div_sign_img" v-for="(_feedback,f_index) in matter_steps.feedback">
                                <div v-if="_feedback.photos && _index ==_feedback.photos.length-1" v-for="(images,_index) in _feedback.photos">
                                    <img v-if="_index == _feedback.photos.length-1" :src="images" alt="">
                                </div>
                            </div>
                            <div class="see_orderDetail_grid_tab_div_sign_rig">
                                <span>处理人:</span>
                                <i v-text="matter_steps.executors.length >0 ?orderDetail_pub.arrToString(matter_steps.executors):' --'"></i>
                            </div>
                        </div>
                    </div>
                    <div class="see_orderDetail_photo" v-if="matters.desc_photos.length>0">
                        <div class="see_orderDetail_photo_txt">照片：</div>
                        <div class="see_orderDetail_photo_list">
                            <img :src="photos" alt="" v-for="photos in matters.desc_photos">
                        </div>
                    </div>
                </div>
                <!-- 选择对象实例 -->
                <div class="choiceObjExampleModal" id="choiceObjExample_pub">
                    <h4 :title="orderDetail_data._save_major + '-' + orderDetail_data._save_system">
                        <span v-text="orderDetail_data._save_major">设备类</span>
                        <i v-text="'('+ orderDetail_data._save_system + ')'">专业-系统</i>
                    </h4>
                    <ul id="choiceObjExample_tree">
                        <!-- <span v-text="commonData.publicModel.planObjExampleArr"></span> -->
                        <li :title="item.obj_name" v-for="item in planObjExampleArr" v-text="item.obj_name" @click="orderDetail_pub.replaceObjExample(item)"></li>
                    </ul>
                    <ploading-part id="object_loading" text="加载中"></ploading-part>
                    <section v-show="planObjExampleArr.length == '0'">
                        <div>
                            <img src="../../../../images/sassNodata.png" alt="">
                        </div>
                        <span>当前尚无设备/当前尚无系统</span>
                    </section>
                    <div class="choiceObjExampleModal_bottom">
                    </div>
                </div>
                <!-- 审核相关 -->
                <div class="see_orderDetail_check">
                    <ul v-for="wo_exec_controls in orderDetailData.wo_exec_controls" v-if="wo_exec_controls.control_code == 'apply_close' || wo_exec_controls.control_code == 'apply_stop' || wo_exec_controls.control_code == 'audit'">
                        <li>
                            <div class="see_orderDetail_check_header">
                                <div>
                                    <span v-if="wo_exec_controls.control_code == 'apply_close'" v-text="'申请完成'">

                                    </span>
                                    <span v-if="wo_exec_controls.control_code == 'apply_stop'" v-text="'申请中止'">

                                    </span>
                                    <span v-if="wo_exec_controls.control_code == 'audit'" v-text="'审核'">

                                    </span>
                                    <!-- <i v-if="wo_exec_controls.control_code == 'apply'" v-text="wo_exec_controls.apply_type =='finish'?'完成':'终止'">
                                        
                                    </i> -->
                                </div>
                                <div>
                                    <span v-if="wo_exec_controls.control_code == 'apply_close'||wo_exec_controls.control_code == 'apply_stop'">
                                        申请时间：
                                    </span>
                                    <span v-if="wo_exec_controls.control_code == 'audit'">
                                        审核时间：
                                    </span>
                                    <!-- <i>时间：</i> -->
                                    <i v-text="orderDetail_pub.timeFormatting(wo_exec_controls.operate_start_time)">

                                    </i>
                                </div>
                            </div>
                            <div class="see_orderDetail_check_content">
                                <!-- 申请 -->
                                <!--  <div class="checkStatus" v-if="wo_exec_controls.audit_result=='1'">
                                    <div v-if="wo_exec_controls.audit_result=='1'" v-text="wo_exec_controls.audit_result=='1'?'通过':'不通过'">
                                    </div>
                                    <div v-text="wo_exec_controls.opinion"></div>
                                    <div>
                                        处理人:<span v-text="wo_exec_controls.operator_name"></span>
                                    </div>
                                </div> -->

                                <!-- 审核 -->
                                <!-- <div class="checkStatus"">
                                    <div v-if="wo_exec_controls.audit_result=='1'" v-text="wo_exec_controls.audit_result=='1'?'通过':'不通过'">
                                    </div>
                                    <div v-text="wo_exec_controls.opinion"></div>
                                    <div>
                                        处理人:<span v-text="wo_exec_controls.operator_name"></span>
                                    </div>
                                </div> -->
                                <div class="checkStatus">
                                    <div v-if="wo_exec_controls.audit_result=='1'" v-text="wo_exec_controls.audit_result=='1'?'通过':'不通过'">
                                    </div>
                                    <div class="mark">
                                        <div v-if="wo_exec_controls.audit_result=='0'">
                                            <i v-text="wo_exec_controls.audit_result=='0'?'不通过':'通过'"></i>-驳回
                                            <i v-for="per in wo_exec_controls.next_route" v-text="per"></i>
                                        </div>
                                    </div>
                                    <div class="opinion" v-text="wo_exec_controls.opinion"></div>
                                    <div class="operator_person" v-if="wo_exec_controls.control_code == 'apply_close'||wo_exec_controls.control_code == 'apply_stop'">
                                        申请人:
                                        <span :title="wo_exec_controls.operator_name" v-text="wo_exec_controls.operator_name"></span>
                                    </div>
                                    <div class="operator_person" v-if="wo_exec_controls.control_code == 'audit'">
                                        审核人:
                                        <span :title="wo_exec_controls.operator_name" v-text="wo_exec_controls.operator_name"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 处理人列表 -->
                <div class="operat_person_list">
                    <ul v-for="wo_exec_controls in orderDetailData.wo_exec_controls" v-if="wo_exec_controls.control_code == 'assign'">
                        <li>
                            <i>指派人</i>
                            <span :title="wo_exec_controls.operator_name" v-text="wo_exec_controls.operator_name"></span>
                        </li>
                        <li>
                            <i>操作时间</i>
                            <span :title="orderDetail_pub.timeFormatting(wo_exec_controls.operate_start_time)" v-text="orderDetail_pub.timeFormatting(wo_exec_controls.operate_start_time)"></span>
                        </li>
                        <li>
                            <i>指派给</i>
                            <span :title="orderDetail_pub.arrToString(wo_exec_controls.next_route)" v-text="orderDetail_pub.arrToString(wo_exec_controls.next_route)"></span>
                        </li>
                    </ul>
                    <ul v-for="operatList in orderOperatList">
                        <li>
                            <i>处理人</i>
                            <span :title="operatList.operator_name" v-text="operatList.operator_name"></span>
                        </li>
                        <li>
                            <i>开始时间</i>
                            <span :title="orderDetail_pub.timeFormatting(operatList.start_time)" v-text="orderDetail_pub.timeFormatting(operatList.start_time)"></span>
                        </li>
                        <li>
                            <i>操作耗时</i>
                            <span :title="operatList.use_times" v-text="operatList.use_times"></span>
                        </li>
                    </ul>
                </div>
                <div v-if="orderDetail_data.goBackFlag =='2' || orderDetail_data.goBackFlag =='3'">
                    <pwindow-modal id="createAssignSet" templateid="createAssignSet_con" title="指派"></pwindow-modal>
                    <pwindow-modal id="stopOrder" templateid="stopOrder_con" title="中止工单"></pwindow-modal>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 指派设置 -->
<script type="text/html" id="createAssignSet_con">
    <div class="createAssignSet_con">
        <div class="createAssignSet_con_box">
            <p class="createAssignSet_con_box_tit">
                请选择该人员或岗位可指派的范围
            </p>
            <div class="createAssignSet_con_box_list">
                <div class="createAssignSet_con_box_list_div" v-for="(items, index) in personPositionList">
                    <div class="createAssignSet_con_box_list_div_ul" v-if="items.type == '2'">
                        <div class="createAssignSet_con_box_list_div_posi">
                            <span @click="orderDetail_pub.personPositionShow(event)">r</span>
                            <em v-text="items.name">岗位A</em>
                            <div class="position_parent_checkbox" @click.stop='publicMethod.clickAdditem(items)'>
                                <span class="checkboxChioce" :class="{state:items.isSelected}"></span>
                            </div>
                        </div>
                        <ul class="createAssignSet_con_box_list_div_pers choicePersonPosition_con_persion_position">
                            <li v-for="info in items.persons" class="childLi">
                                <span v-text="info.name" :id="info.person_id">人员1</span>
                                <div @click.stop='publicMethod.clickAdditem(info)'>
                                    <span class="checkboxChioce" :class="{state:info.isSelected}"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="choicePersonPosition_con_box_list_div_pers choicePersonPosition_con_choice_person" v-if="items.type == '3'">
                            <li class="personChoice1">
                                <span v-text="items.name"></span>
                                <div class="persion_checkbox" @click.stop='publicMethod.clickAdditem(items)'>
                                    <span class="checkboxChioce" :class="{state:items.isSelected}"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button class="createAssignSet_con_btn">
            <pbutton-blue bind="true" id="'createAssignSet_con_btn_yes'" text="'确定'" @click="publicMethod.createAssignSetYes()"></pbutton-blue>
            <pbutton-white id="createAssignSet_con_btn_cancle" text="取消" click="orderDetail_pub.createAssignSetHide()"></pbutton-white>
        </button>
    </div>
</script>
<!-- 保存成功失败提示 -->
<pnotice-message id="publishNotice" text="成功"></pnotice-message>
<!-- 中止工单 -->
<script type="text/html" id="stopOrder_con">
    <div class="stopWorkOrder_con">
        <div class="stopWorkOrder_con_operat">
            <textarea name="" id="stopWorkOrderTArea" placeholder="请填写中止说明" v-model="stop_order_content" maxlength="200" oninput="if(value.length>200){value=value.slice(0,200)}"></textarea>
        </div>
        <span :class="{'red':stop_order_content.length=='200'}" class="stopWorkOrder_con_operat_span">(<i v-text="stop_order_content.length">0</i>/200)</span>
    </div>
    <div id="stopTishi">请填写中止原因</div>
    <div class="stopWorkOrder_con_btn">
        <pbutton-blue bind="true" id="'stop_order_btn_yes'" text="'确定'" @click="orderDetail_pub.stopOrderSetYes()"></pbutton-blue>
        <pbutton-white id="stop_order_no" text="取消" click="orderDetail_pub.stopOrderSetHide()"></pbutton-white>
    </div>
</script>