<!-- equipmentlist Start -->
<div class="equipmentlist" v-show='onPage=="list"' @click="currentWordListEquip_id=''">
    <div class="content">
        <ul class="left">
            <li class="item" :class='{"on":onTab=="equip_total"}' @click='switchOnTab("equip_total")'>
                <div v-show='onTab!="equip_total"' class="vertCell">
                    <p class="number" :class='{numberlong:new String(EquipStatisticCount.equip_total).length>3}'>{{EquipStatisticCount.equip_total | num2str}}</p>
                    <p class="remark">全部设备</p>
                </div>
                <div v-show='onTab=="equip_total"' class="vertCell">
                    <p class="numbers" :class='{numberlong:new String(EquipStatisticCount.equip_total).length>3}'>{{EquipStatisticCount.equip_total | num2str}}</p>
                    <p class="name">全部设备</p>
                    <p class="add" v-show='EquipStatisticCount.new_count'>本周新添加:{{EquipStatisticCount.new_count| num2str}}</p>
                </div>
            </li>
            <li class="item" :class='{"on":onTab=="repair_count"}' @click='switchOnTab("repair_count")'>
                <div class="vertCell">
                    <p class="number" :class='{numberlong:new String(EquipStatisticCount.repair_count).length>3}'>{{EquipStatisticCount.repair_count | num2str}}</p>
                    <p class="remark">当前维修中</p>
                </div>
            </li>
            <li class="item" :class='{"on":onTab=="maint_count"}' @click='switchOnTab("maint_count")'>
                <div class="vertCell">
                    <p class="number" :class='{numberlong:new String(EquipStatisticCount.maint_count).length>3}'>{{EquipStatisticCount.maint_count | num2str}}</p>
                    <p class="remark">当前维保中</p>
                </div>
            </li>
            <li class="item" :class='{"on":onTab=="going_destroy_count"}' @click='switchOnTab("going_destroy_count")'>
                <div class="vertCell">
                    <p class="number" :class='{numberlong:new String(EquipStatisticCount.going_destroy_count).length>3}'>{{EquipStatisticCount.going_destroy_count | num2str}}</p>
                    <p class="remark">即将报废</p>
                </div>
            </li>
        </ul>
        <div class="right">
            <div class="spaceHeader" v-show='onTab!="equip_total"'></div>
            <div class="searchHeader" v-show='onTab=="equip_total"'>
                <span class="searchtxt">
                    <span class="searcjIcon" @click='_clickSearch()'>f</span>
                    <span class="clearSearch" @click='_clearSearch()' v-show='currentSelector.keyword.length'>x</span>
                    <ptext-text id='searchBtn' placeholder="输入名称或编号查找设备" text="&nbsp;&nbsp;"></ptext-text>
                </span>
                <% if (tool_type=="Web") { %>
                    <span class="addequipment" @click.capture="goInsert()">
                        <pbutton-white text="录入新设备" icon="+"></pbutton-white>
                    </span>
                    <% } %>

                        <span class="systemMgn" @click.capture="goSystemMgn()">
                            <pbutton-white text="系统管理" icon="u"></pbutton-white>
                        </span>
            </div>
            <div class="queryblock">
                <div class="line">
                    <span class="qname">所属建筑：</span>
                    <ul class="list">
                        <li class="itine" v-for='(item,index) in BuildList' :class='{onitine:item.obj_id==currentSelector.build_id}' v-text='item.obj_name'
                            @click='listClassTolego("build_id",item.obj_id)'>全部</li>
                    </ul>
                </div>
                <div class="line">
                    <span class="qname">所属专业：</span>
                    <ul class="list">
                        <li class="itine" v-for='(item,index) in GeneralDict' :class='{onitine:item.code==currentSelector.domain_code}' v-text='item.name'
                            @click='listClassTolego("domain_code",item.code)'>全部</li>
                    </ul>
                </div>
                <div class="line" v-show='onTab=="equip_total"'>
                    <span class="qname">所属系统：</span>
                    <ul class="list">
                        <li class="itine noitline place" v-show='System.length==0'>请先选择专业</li>
                        <li class="itine" v-for='(item,index) in System' :class='{onitine:item.system_id==currentSelector.system_id}' v-text='item.system_name'
                            @click='listClassTolego("system_id",item.system_id)'>全部</li>
                    </ul>
                </div>
                <div class="line" v-show='onTab=="equip_total"'>
                    <span class="qname">设备状态：</span>
                    <ul class="list">
                        <li class="itine" v-for='(item,index) in EquipStateList' :class='{onitine:item.code==currentSelector.valid}' v-text='item.name'
                            @click='listClassTolego("valid",item.code)'>全部</li>
                    </ul>
                </div>
            </div>
            <!-- listHeight Start -->
            <div :style='listHeight' @click="currentWordListEquip_id=''">
                <!-- 全部设备Start -->
                <div class="block" v-show='onTab=="equip_total"'>
                    <div class="totalline">
                        当前选项下设备共计：{{EquipList.count}} 个
                    </div>
                    <ul class="thead">
                        <li>
                            <div class="eqleft-item">
                                <span class="eq-item">设备本地编码</span>
                                <span class="eq-item">设备本地名称</span>
                                <span class="eq-item">设备型号</span>
                                <span class="eq-item">安装位置</span>
                                <span class="eq-item">供应商</span>
                            </div>
                            <div class="eqfixed-item">
                                <span class="eq-item">录入时间</span>
                            </div>
                        </li>
                    </ul>
                    <ul class="tbody" id="ul_equip_total" type='equip_total' v-show='EquipList.length'>
                        <li v-for='(item,index) in EquipList' @click='_clickIntoDeatil(item)'>
                            <div class="eqleft-item">
                                <span class="eq-item fontdot" :title="item.equip_local_id" v-text='item.equip_local_id || "--"'></span>
                                <span class="eq-item fontdot" :title="item.equip_local_name" v-text='item.equip_local_name || "--"'></span>
                                <span class="eq-item fontdot" :title="item.specification" v-text='item.specification || "--"'></span>
                                <span class="eq-item fontdot" :title="item.position" v-text='item.position || "--"'></span>
                                <span class="eq-item fontdot" :title="item.supplier" v-text='item.supplier || "--"'></span>
                            </div>
                            <div class="eqfixed-item">
                                <span class="eq-item">
                                    {{ item.create_time | yyyyMMddhhmmss2date | date2yyyyMMddhhmm }}
                                    <i class="overicon" v-show='item.destroy_remind_type==2 && currentSelector.valid'>
                                        <span class="tiptext" :class="{bottom:(index>(EquipList.length-7) && EquipList.length>10)}" v-text='item.destroy_remind'></span>
                                    </i>
                                    <i class="willovericon" v-show='item.destroy_remind_type==1  && currentSelector.valid'>
                                        <span class="tiptext" :class="{bottom:(index>(EquipList.length-7) && EquipList.length>10)}" v-text='item.destroy_remind'></span>
                                    </i>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="tbody" v-show='!EquipList.length'>
                        <div class="newNoData">
                            <div class="noPic"></div>
                            <p>请尝试其他关键字进行搜索</p>
                        </div>
                    </div>
                </div>
                <!-- 全部设备End -->
                <!-- 当前维修中Start -->
                <div class="block" v-show='onTab=="repair_count"'>
                    <div class="totalline">
                        当前选项下设备共计：{{ServicingList.count}} 个
                    </div>
                    <ul class="thead">
                        <li>
                            <span class="eq-item">设备本地编码</span>
                            <span class="eq-item">设备本地名称</span>
                            <span class="eq-item">设备型号</span>
                            <span class="eq-item">安装位置</span>
                            <span class="eq-item">维修商</span>
                            <span class="eq-item eq-fitem">对应工单</span>
                        </li>
                    </ul>
                    <ul class="tbody" id="ul_repair_count" type='repair_count' v-show='ServicingList.length'>
                        <li v-for='item in ServicingList' @click='_clickIntoDeatil(item)'>
                            <span class="eq-item fontdot" :title="item.equip_local_id" v-text='item.equip_local_id || "--"'></span>
                            <span class="eq-item fontdot" :title="item.equip_local_name" v-text='item.equip_local_name || "--"'></span>
                            <span class="eq-item fontdot" :title="item.specification" v-text='item.specification || "--"'></span>
                            <span class="eq-item fontdot" :title="item.position" v-text='item.position || "--"'></span>
                            <span class="eq-item fontdot" :title="item.maintainer" v-text='item.maintainer || "--"'></span>
                            <span class="eq-item fontdot eq-fitem" v-if='item.work_orders.length==1'>
                                <p class="stateicon" v-text='item.work_orders[0].order_state_desc'></p>
                                <span class="statetext" @click.stop="_clickGoWork(item.work_orders[0])">
                                    <a class="link" :title="item.work_orders[0].summary">{{item.work_orders[0].summary}}</a>
                                </span>
                            </span>
                            <span class="eq-item" @click.stop="currentWordListEquip_id=item.equip_id" v-if='item.work_orders.length>1'>
                                <a class="link">{{item.work_orders.length}}条工单</a>
                                <div class="hgd" v-show="currentWordListEquip_id==item.equip_id">
                                    <ul>
                                        <li class="work_orders" v-for='info in item.work_orders' @click.stop="_clickGoWork(info),currentWordListEquip_id=''">
                                            <p class="stateicon" v-text='info.order_state_desc'></p>
                                            <span class="statetext">
                                                <a class="link" :title="info.summary">{{info.summary}}</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </span>
                        </li>
                    </ul>
                    <div class="tbody" v-show='!ServicingList.length'>
                        <div class="newNoData">
                            <div class="noPic"></div>
                            <p>请尝试其他关键字进行搜索</p>
                        </div>
                    </div>
                </div>
                <!-- 当前维修中End -->
                <!-- 当前维保中Start -->
                <div class="block" v-show='onTab=="maint_count"'>
                    <div class="totalline">
                        当前选项下设备共计：{{MaintenanceList.count}} 个
                    </div>
                    <ul class="thead">
                        <li>
                            <span class="eq-item eq-fitem">设备本地编码</span>
                            <span class="eq-item eq-fitem">设备本地名称</span>
                            <span class="eq-item eq-fitem">设备型号</span>
                            <span class="eq-item eq-fitem">安装位置</span>
                            <span class="eq-item eq-fitem">对应工单</span>
                        </li>
                    </ul>
                    <ul class="tbody" id="ul_maint_count" type='maint_count' v-show='MaintenanceList.length'>
                        <li v-for='(item,index) in MaintenanceList' @click='_clickIntoDeatil(item)'>
                            <span class="eq-item eq-fitem fontdot" :title="item.equip_local_id" v-text='item.equip_local_id || "--"'></span>
                            <span class="eq-item eq-fitem fontdot" :title="item.equip_local_name" v-text='item.equip_local_name || "--"'></span>
                            <span class="eq-item eq-fitem fontdot" :title="item.specification" v-text='item.specification || "--"'></span>
                            <span class="eq-item eq-fitem fontdot" :title="item.position" v-text='item.position || "--"'></span>
                            <span class="eq-item eq-fitem fontdot" v-if='item.work_orders.length==1'>
                                <p class="stateicon" v-text='item.work_orders[0].order_state_desc'></p>
                                <span class="statetext">
                                    <a class="link" @click.stop="_clickGoWork(item.work_orders[0])" :title="item.work_orders[0].summary">{{item.work_orders[0].summary}}</a>
                                </span>
                            </span>
                            <span class="eq-item" @click.stop="currentWordListEquip_id=item.equip_id" v-if='item.work_orders.length>1'>
                                <a class="link">{{item.work_orders.length}}条工单</a>
                                <div class="hgd" v-show="currentWordListEquip_id==item.equip_id" :class="{bottom:(index>(MaintenanceList.length-7) && MaintenanceList.length>10)}">
                                    <ul>
                                        <li class="work_orders" v-for='info in item.work_orders' @click.stop="_clickGoWork(info),currentWordListEquip_id=''">
                                            <p class="stateicon" v-text='info.order_state_desc'></p>
                                            <span class="statetext">
                                                <a class="link" :title="info.summary">{{info.summary}}</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </span>
                        </li>
                    </ul>
                    <div class="tbody" v-show='!MaintenanceList.length'>
                        <div class="newNoData">
                            <div class="noPic"></div>
                            <p>请尝试其他关键字进行搜索</p>
                        </div>
                    </div>
                </div>
                <!-- 当前维保中End -->
                <!-- 即将报废Start -->
                <div class="block" v-show='onTab=="going_destroy_count"'>
                    <div class="totalline">
                        当前选项下设备共计：{{ScrappedList.count}} 个
                    </div>
                    <ul class="thead">
                        <li>
                            <div class="desleft-item">
                                <span class="eq-item">设备本地编码</span>
                                <span class="eq-item">设备本地名称</span>
                                <span class="eq-item">设备型号</span>
                                <span class="eq-item">安装位置</span>
                                <span class="eq-item">投入使用时间</span>
                            </div>
                            <div class="desfixed-item">
                                <span class="eq-item">使用寿命</span>
                            </div>
                        </li>
                    </ul>
                    <ul class="tbody" id="ul_going_destroy_count" type='going_destroy_count' v-show='ScrappedList.length'>
                        <li v-for='item in ScrappedList' @click='_clickIntoDeatil(item)'>
                            <div class="desleft-item">
                                <span class="eq-item fontdot" :title="item.equip_local_id" v-text='item.equip_local_id || "--"'></span>
                                <span class="eq-item fontdot" :title="item.equip_local_name" v-text='item.equip_local_name || "--"'></span>
                                <span class="eq-item fontdot" :title="item.specification" v-text='item.specification || "--"'></span>
                                <span class="eq-item fontdot" :title="item.position" v-text='item.position || "--"'></span>
                                <span class="eq-item">{{item.start_date | yyyyMMddhhmmss2date | date2yyyyMMddhhmm}} </span>
                            </div>
                            <div class="desfixed-item">
                                <span class="eq-item">
                                    <span v-text="item.service_life+'年'" class="year"></span>
                                    <p class="stateicon" v-text='item.destroy_remind' v-if='item.destroy_remind'></p>
                                    <% if (tool_type=="Web") { %>
                                        <p class="bf" v-if='item.destroy_remind' @click.stop=_clickScrapped(item)>报废设备</p>
                                        <% } %>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="tbody" v-show='!ScrappedList.length'>
                        <div class="newNoData">
                            <div class="noPic"></div>
                            <p>请尝试其他关键字进行搜索</p>
                        </div>
                    </div>
                </div>
                <!-- 即将报废End -->
            </div>
            <!-- listHeight End -->
        </div>
    </div>
</div>
<!-- </div> -->
<!-- equipmentlist End -->