
<% include ../../../template/pageHead.html %>
    <link rel="stylesheet" href="/css/basicMng/person/index.css" />
    <link rel="stylesheet" href="/css/workOrder/workOrderMng/WorkOrderMonitoring.css" />
    <!-- <link rel="stylesheet" href="/css/workOrder/workOrderMng/WorkOrderDetail.css" /> -->
    <link rel="stylesheet" href="/css/workOrder/planMonitor/see_orderDetail.css" />
    <link rel="stylesheet" href="/css/workOrder/planMonitor/search_box.css" />

    <script src="/js/workOrder/workOrderMng/controller.js"></script>
    <script src="/js/workOrder/workOrderMng/model.js"></script>
    <script src="/js/workOrder/workOrderMng/event.js"></script>
    <script src="/js/public/orderDetail_pub.js"></script>
    <script src="/js/public/publicMethod.js"></script>

<div id="workOrderManage-Monitor">

    <!--html by yangning-->
    <%include WorkOrderMonitoring.html%>
    

    <!--html by yuedongxu-->
    <%include ../planMonitor/see_orderDetail.html%>


</div>
<% include ../../../template/pageFoot.html %>