<div id="see_orderDetail_bg" v-if="curPage == pages[1]">
    <div class="see_orderDetail_box">
        <div class="see_orderDetail_page">
            <div class="see_orderDetail_page_top">
                <div class="see_orderDetail_page_back">
                    <pbutton-white bind='true' text="'返回'" @click="goBackOrderList()"></pbutton-white>
                </div>
                <div class="see_orderDetail_page_save">
                    <div>
                        <pbutton-white bind='true' text="'指派'" @click="clickAssignSet()"></pbutton-white>
                    </div>
                    <div>
                        <pbutton-white bind='true' text="'中止'" @click="stopOrder_con_show()"></pbutton-white>
                    </div>
                </div>
            </div>
            <div class="see_orderDetail_page_grid">
                <!-- 顶部列表 -->
                <div class="see_orderDetail_grid_top">
                    <ul>
                        <li>
                            <h4>
                                工单类型
                            </h4>
                            <div v-text="orderDetailData.order_type_name">
                                维保
                            </div>
                        </li>
                        <li>
                            <h5>
                                要求开始时间
                            </h5>
                            <span  v-text="orderDetailData.ask_start_time? timeFormatting(orderDetailData.ask_start_time):'' ">2017.5.1 08:00</span>
                            <h5>
                                要求结束时间
                            </h5>
                            <span v-text="orderDetailData.ask_end_time?timeFormatting(orderDetailData.ask_end_time) : ''">2017.7.1 08:00</span>
                        </li>
                        <li>
                            <h4>
                                所需工具
                            </h4>
                            <div v-text="arrToString(orderDetailData.required_tools)">
                                扳手、螺丝刀、电钻
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 内容区域 -->
                <div class="see_orderDetail_grid_tab_ul" v-for="(matters,index1) in orderDetailData.matters">
                    <div class="see_orderDetail_grid_tab_tit">
                        <div class="see_orderDetail_grid_name" v-text="matters.matter_name">
                        </div>
                        <div class="see_orderDetail_grid_result">
                            反馈结果
                        </div>
                    </div>
                    <div class="see_orderDetail_grid_tab" v-for="(matter_steps,index2) in matters.matter_steps">
                        <!-- {{有id或者有描述}} -->
                        <div v-if="matter_steps.obj_step_id || matter_steps.description" class="see_orderDetail_grid_tab_div">
                            <!-- 左侧列表 -->
                            <div class="see_orderDetail_grid_tab_left">
                                <div class="see_orderDetail_grid_matter_info">
                                    <h4>事件概述：</h4>
                                    <p v-text="matter_steps.description"></p>
                                </div>
                                <div class="see_orderDetail_grid_list" v-for="(steps,index3) in matter_steps.steps">
                                    <ul>
                                        <li class="see_orderDetail_grid_list_operat2">
                                            <h4 v-text="steps.step_sequence"></h4>
                                            <div>
                                                <span v-text="steps.content" v-if="steps.step_type == '3'||steps.step_type == '4'">
                                                    到达指定位置拍照
                                                </span>
                                                <ul v-if="steps.step_type != '3'&& steps.step_type != '4'&& steps.step_type != '6'">
                                                    <li>
                                                        <h5>强制确认操作前提：</h5>
                                                        <p v-if="steps.pre_conform" v-text="steps.pre_conform"></p>
                                                    </li>
                                                    <li>
                                                        <h5>标准作业操作内容：</h5>
                                                        <p v-if="steps.content" v-text="steps.content"></p>
                                                    </li>
                                                    <li>
                                                        <h5>注意事项：</h5>
                                                        <p v-if="steps.notice" v-text="steps.notice"></p>
                                                    </li>
                                                    <li>
                                                        <h5>确认操作结果：</h5>
                                                        <div v-for="confirm_result in steps.confirm_result">
                                                            <!-- {{steps.confirm_result}} -->
                                                            <em v-text="confirm_result.obj_name"></em>
                                                            <span v-for="parents in confirm_result.parents">
                                                                (<i v-for="(names,naIndex) in parents.parent_names" v-text="parents.parent_names.length == naIndex + 1?names : names + '-'"></i>)
                                                            </span>
                                                        </div>
                                                        <div v-for="confirm_result in steps.confirm_result">
                                                            <i v-for="info_points in confirm_result.info_points" v-text="info_points.name"></i>
                                                            <i v-for="customs in confirm_result.customs" v-text="customs.name"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <!-- <p v-if="steps.step_type == '6'" v-text="steps.content"></p> -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 右侧列表 -->
                            <div class="see_orderDetail_grid_tab_rig">
                                <div class="see_orderDetail_grid_tab_rig_box" v-for="(feedback,index4) in matter_steps.feedback">
                                    <ul class="see_orderDetail_grid_tab_rig_box_list">
                                        <li v-if="!feedback.confirm_result">
                                            <h4>
                                                <span v-if="feedback.step_sequence" v-text="feedback.step_sequence + ','"></span>
                                                <i v-if="feedback.pre_conform_result" v-text="feedback.pre_conform_result + ':'"></i>
                                            </h4>
                                            <div v-for="photos in feedback.photos">
                                                <img :src="photos" alt="">
                                            </div>
                                        </li>
                                        <li v-else-if="feedback.confirm_result">
                                            <h4>
                                                <span v-if="feedback.step_sequence" v-text="feedback.step_sequence + ','"></span>
                                                <div>
                                                    <ul v-for="item in feedback.confirm_result">
                                                        <li v-text="item.obj_name +'设备类'">
                                                            <span v-text="item.obj_name +'设备类'"></span>
                                                            <i>-</i>
                                                        </li>

                                                        <li v-if="item.info_points" v-for="info_points in item.info_points" v-text="info_points.value + info_points.unit +','"></li>
                                                        <li v-for="customs in item.customs">
                                                            <span v-if="customs.type=='1'" v-text="customs.content"></span>
                                                            <span v-else-if="customs.type=='2'" v-text="customs.item"></span>
                                                            <span v-else-if="customs.type=='3'" v-text="customs.content">
                                                            <i v-for="items in customs.items" v-text="items"></i>
                                                            </span>
                                                            <span v-else-if="customs.type=='4'" v-text="customs.value"></span>
                                                            <span v-else-if="customs.type=='5'" v-text="customs.value + ':' + customs.unit"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- <i v-if="feedback.pre_conform_result" v-text="feedback.pre_conform_result + ':'"></i> -->
                                                 <i>
                                                    
                                                </i>
                                            </h4>
                                        </li>
                                    </ul>
                                </div>
                                <div class="see_orderDetail_grid_tab_rig_box_operatPerson">
                                    <div>操作人：</div>
                                    <p v-for="executors in matter_steps.executors" v-text="executors"></p>
                                </div>
                            </div>
                        </div>
                        <!-- 没有id且没有描述 -->
                        <div v-if="!matter_steps.obj_step_id && !matter_steps.description" class="see_orderDetail_grid_tab_div_sign">
                            <div class="see_orderDetail_grid_tab_div_sign_left">
                                签字：
                            </div>
                            <div class="see_orderDetail_grid_tab_div_sign_img">
                                <img :src="matter_steps.feedback[0].photos[0]" alt="">
                            </div>
                            <div class="see_orderDetail_grid_tab_div_sign_rig">
                                <span>操作人:</span><i v-text="arrToString(matter_steps.executors)"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 审核相关 -->
                <div class="see_orderDetail_check">
                    <ul v-for="wo_exec_controls in orderDetailData.wo_exec_controls">
                        <li>
                            <div class="see_orderDetail_check_header">
                                <div>
                                    <span v-text="wo_exec_controls.control_code == 'apply'?'申请':'审核'">
                                        
                                    </span><i v-if="wo_exec_controls.control_code == 'apply'" v-text="wo_exec_controls.apply_type =='finish'?'完成':'终止'">
                                        
                                    </i>
                                </div>
                                <div>
                                    <span v-text="wo_exec_controls.control_code == 'apply'?'申请':'审核'">
                                        
                                    </span><i>时间：</i>
                                    <i v-text="timeFormatting(wo_exec_controls.operate_start_time)">
                                        
                                    </i>
                                </div>
                            </div>
                            <div class="see_orderDetail_check_content">
                                <div class="checkStatus" v-if="wo_exec_controls.audit_result=='1'">
                                    <div v-if="wo_exec_controls.audit_result=='1'" v-text="wo_exec_controls.audit_result=='1'?'通过':''">
                                    </div>
                                    <div v-text="wo_exec_controls.opinion"></div>
                                    <div>
                                        操作人:<span v-text="wo_exec_controls.operator_name"></span>
                                    </div>
                                </div>
                                <div class="checkStatus" v-if="wo_exec_controls.audit_result=='0'">
                                    <div class="mark">
                                        <i v-text="wo_exec_controls.audit_result=='0'?'不通过':''"></i>-<i v-for="per in wo_exec_controls.next_route" v-text="per"></i>
                                    </div>
                                    <div v-text="wo_exec_controls.opinion"></div>
                                    <div>
                                        操作人:<span v-text="wo_exec_controls.operator_name"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 操作人列表 -->
                <div class="operat_person_list">
                    <ul v-for="wo_exec_controls in orderDetailData.wo_exec_controls">
                        <li>
                            <i>操作人</i>
                            <span v-text="wo_exec_controls.operator_name">张三</span>
                        </li>
                        <li>
                            <i>操作时间</i>
                            <span v-text="timeFormatting(wo_exec_controls.operate_start_time)">20170921150500</span>
                        </li>
                        <li>
                            <i>指派给</i>
                            <span v-text="arrToString(wo_exec_controls.next_route)"></span>
                        </li>
                    </ul>
                    <ul v-for="operatList in orderOperatList">
                        <li>
                            <i>操作人</i>
                            <span v-text="operatList.operator_name">张三</span>
                        </li>
                        <li>
                            <i>开始时间</i>
                            <span v-text="timeFormatting(operatList.start_time)">20170921150500</span>
                        </li>
                        <li>
                            <i>停留时长</i>
                            <span v-text="operatList.use_times">李四</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <pwindow-modal id="createAssignSet" templateid="createAssignSet_con" title="指派"></pwindow-modal>
    <pwindow-modal id="stopOrder" templateid="stopOrder_con" title="终止工单"></pwindow-modal>    
</div>
<!-- 指派设置 -->
<script type="text/html" id="createAssignSet_con">
    <div class="createAssignSet_con">
        <div class="createAssignSet_con_box">
            <p class="createAssignSet_con_box_tit">
                请选择该人员或岗位可指派的范围
            </p>
            <div class="createAssignSet_con_box_list">
                <div class="createAssignSet_con_box_list_div" v-for="(items, index) in personPositionList">
                    <div class="createAssignSet_con_box_list_div_ul" v-if="items.type == '2'">
                        <div class="createAssignSet_con_box_list_div_posi">
                            <span  @click="personPositionShow(event)">r</span>
                            <em v-text="items.name">岗位A</em>
                            <div class="position_parent_checkbox" @click.stop='clickAdditem(items)'>
                                <span class="checkboxChioce" :class="{state:items.isSelected}"></span>

                            </div>
                        </div>
                        <ul class="createAssignSet_con_box_list_div_pers choicePersonPosition_con_persion_position">
                            <li v-for="info in items.persons">
                                <span v-text="info.name" :id="info.person_id">人员1</span>
                                <div @click.stop='clickAdditem(info)'>
                                    <span class="checkboxChioce" :class="{state:info.isSelected}"></span>

                                </div>
                            </li>

                        </ul>
                    </div>
                    <div>
                        <ul class="choicePersonPosition_con_box_list_div_pers choicePersonPosition_con_choice_person" v-if="items.type == '3'">
                            <li class="personChoice1">
                                <span v-text="items.name"></span>
                                <div class="persion_checkbox" @click.stop='clickAdditem(items)'>
                                    <span class="checkboxChioce" :class="{state:items.isSelected}"></span>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="createAssignSet_con_filter_person">
                <h3>是否需要按照排班表过滤每次指派的人员范围：</h3>
                <pswitch-slide></pswitch-slide>
            </div> -->
            <!--  <div class="createAssignSet_con_opera_choice">
                <h3>请选择工单的执行方式</h3>
                <pswitch-radio name="" text="允许多人并行执行"></pswitch-radio>
                <span></span>
                <pswitch-radio id="" name="" state="true" text="只允许单人串行执行"></pswitch-radio>
            </div> -->
        </div>
        <button class="createAssignSet_con_btn">
            <pbutton-blue bind="true" id="'createAssignSet_con_btn_yes'" text="'确定'" @click="createAssignSetYes()"></pbutton-blue>
            <pbutton-white id="createAssignSet_con_btn_cancle" text="取消" click="workOrderMngMethod.createAssignSetHide()"></pbutton-white>
        </button>
    </div>
</script>
<!-- 保存成功失败提示 -->
<pnotice-message id="publishNotice" text="成功"></pnotice-message>
<!-- 中止工单 -->
<script type="text/html" id="stopOrder_con">
    <div class="stopWorkOrder_con">
        <div class="stopWorkOrder_con_operat">
            <textarea name="" id="stopWorkOrderTArea" v-model="stop_order_content" maxlength="200"></textarea>
        </div>
       <span class="stopWorkOrder_con_operat_span">(<i v-text="stop_order_content.length">0</i>/200)</span>
    </div>
    <div class="stopWorkOrder_con_btn">
        <pbutton-blue bind="true" id="'stop_order_btn_yes'" text="'确定'"@click="stopOrderSetYes()"></pbutton-blue>
        <pbutton-white id="stop_order_no" text="取消" click="workOrderMngMethod.stopOrderSetHide()"></pbutton-white>
    </div>
</script>