
<% include ../../../template/pageHead.html %>
    <link rel="stylesheet" href="/css/basicMng/person/index.css" />
    <link rel="stylesheet" href="/css/workOrder/workOrderConfig/createWorkOrderCommon.css" />
    <link rel="stylesheet" href="/css/workOrder/workOrderConfig/schemeList.css" />
    <script src="/js/workOrder/workOrderConfig/model.js"></script>
    <script src="/js/workOrder/workOrderConfig/controller.js"></script>
    <script src="/js/workOrder/workOrderConfig/event.js"></script>
    <script src="/js/workOrder/workOrderConfig/tempData.js"></script>

	<div id="workOrderManage">
        <!--html by yangning-->
        <%include schemeList.html%>
        <!--html by yuedongxu-->
		<%include createWorkOrderCommon.html%>


	</div>

<% include ../../../template/pageFoot.html %>