<div class="person-edit-tab-white log-in-win interim" v-show="frameModel.person_password==='修改密码'">
    <div class="white-tab-title">
        <span>修改密码</span>
        <img src="images/alert_close_btn.png" alt="关闭按钮" onclick="closePersonPassword()">
    </div>
    <div class="white-tab-post">
        <form action="#" method="post" class="tab-form">
            <div class="single-form-div">
                <div class="title-tag">
                    <span>原密码:</span>
                </div>
                <div class="input-error-div">
                    <div class="input-div">
                        <input type="password" :class="{'error-input':!frameModel.companyInfo.isOldPasswd}"
                               onblur="testVerificationCode(this,this.value)"/><!--input 报错的类名error-input-->
                    </div>
                    <div class="error-div">
                        <span v-show="frameModel.companyInfo.isOldPasswd!==1" v-text="frameModel.companyInfo.isOldPasswd ? '' : '原密码错误'"></span>
                        <span v-show="frameModel.companyInfo.isOldPasswd===1" v-text="'密码不能为空'"></span>
                    </div>
                </div>
            </div>
            <div class="single-form-div">
                <div class="title-tag">
                    <span>新密码:</span>
                </div>
                <div class="input-error-div">
                    <div class="input-div">
                        <input type="password" :class="{'error-input':!frameModel.companyInfo.formatCode}" placeholder="至少包含6位字符" onblur="testCodeformat(this,this.value)"/>
                    </div>
                    <div class="error-div">
                        <span v-show="frameModel.companyInfo.formatCode!==1" v-text="frameModel.companyInfo.formatCode ? '' : '密码格式错误'"></span>
                        <span v-show="frameModel.companyInfo.formatCode===1" v-text="'新密码不能为空'"></span>
                    </div>
                </div>
            </div>
            <div class="single-form-div">
                <div class="title-tag">
                    <span>二次确认密码:</span>
                </div>
                <div class="input-error-div">
                    <div class="input-div">
                        <input type="password" :class="{'error-input':!frameModel.companyInfo.ifSame}" onblur="twoIfSame(this,this.value)"/>
                    </div>
                    <div class="error-div">
                        <span v-show="frameModel.companyInfo.ifSame!==1" v-text="frameModel.companyInfo.ifSame ? '' : '两次密码不同'">两次密码不同</span>
                        <span v-show="frameModel.companyInfo.ifSame===1" v-text="'确认密码不能为空'"></span>
                    </div>
                </div>
            </div>
            <div class="save-div">
                <input type="button" class="edit-password-save" value="保存" onclick="saveEditPassWord()"/>
            </div>
        </form>
    </div>
</div>
