<% include ../../../template/pageHead.html %>

<script type="text/javascript" src="../js/layout.js"></script>
<script type="text/javascript" src="../js/public/orderDetail_pub.js"></script>
<script type="text/javascript" src="../js/public/globalController.js"></script>
<script type="text/javascript" src="../js/public/publicMethod.js"></script>

<script src="../js/workOrder/myWorkOrder/model.js"></script>
<script src="../js/workOrder/myWorkOrder/controller.js"></script>
<script src="../js/workOrder/myWorkOrder/logger.js"></script>
<script src="../js/workOrder/myWorkOrder/event.js"></script>
<script type="text/javascript" src="../js/workOrder/planMonitor/tempData.js"></script>
<script type="text/javascript" src="../js/workOrder/planMonitor/controller.js"></script>
<link rel="stylesheet" href="../css/workOrder/planMonitor/see_orderDetail.css" />
<link rel="stylesheet" href="../css/workOrder/planMonitor/search_box.css" />
<link rel="stylesheet" href="../css/workOrder/myWorkOrder/myWorkOrderList.css" />
<link rel="stylesheet" href="../css/workOrder/myWorkOrder/myWorkOrderCreate.css" />

<div id="myWorkOrder">
    <%include myWorkOrder.html%>
</div>


<% include ../../../template/pageFoot.html %>