<div class="myWork-tab"
     v-show="commonData.publicModel.LorC && commonData.publicModel.LorC !== 0 && commonData.publicModel.Published !== 1">
    <div class="myWork-content">
        <div class="myWork-content-list">
            <div class="myWork-content-list-header">
                <pcombobox-normal id="'work-already'" bind="true" sel="myWorkOrderController.selAlreadyEvent">
                    <item datasource="commonData.publicModel.workAlready" text="name"></item>
                </pcombobox-normal>
                <pcombobox-normal id="'work-type'" bind="true" sel="myWorkOrderController.selAlreadyEvent">
                    <header prefix="工单类型："></header>
                    <item datasource="commonData.publicModel.workTypeL" text="name"></item>
                </pcombobox-normal>
                <pbutton-blue id="'create-work-btn'" bind="true" v-show="commonData.publicModel.createrights"
                              text="'创建工单'" click="yn_method.createShow"></pbutton-blue>
            </div>
            <div class="myWork-content-list-body">
                <div class="myWork-list-body-table">
                    <%include myWorkOrderFragment/workListDraft.html%>
                    <%include myWorkOrderFragment/workListMe.html%>
                    <div class="myWork-table-noData flash flash-pub" v-show="commonData.publicModel.workList.length==0">
                        <!--<div class="image-div">
                            <img src="../images/nodata.png" alt="暂无内容"/>
                            <p>暂无内容</p>
                        </div>-->
                        <!--搜索无结果-->
                        <div class="sop-nodata">
                            <pnotice-nodata text="暂无数据" icon="../images/sassNodata.png"></pnotice-nodata>
                        </div>
                    </div>
                    <!--<ploading-part id="loadCover" text="加载中..."></ploading-part>-->
                </div>
            </div>
        </div>
    </div>
    <pwindow-confirm id="del-confirm">
        <button>
            <pbutton-backred id="sure-btn" text="确定"
                             click="myWorkOrderController.deleteDraftWorkOrderById"></pbutton-backred>
            <pbutton-white text="取消" click="yn_method.cancelConfirm"></pbutton-white>
        </button>
    </pwindow-confirm>
</div>
<div class="publish-detail-tab" v-if="commonData.publicModel.Published=== 1">
    <% include ../planMonitor/see_orderDetail.html %>
</div>