<div class="aite-bubble" :class="{'click-aite':commonData.publicModel.clickAiteShow}" id="111">
    <div class="aite-title">
        <img src="../images/return_left.png" alt="返回图片" v-show="commonData.publicModel.curObjType !== 'init'" onclick="yn_method.defaultPage(this)"/>
        <!--<span>请选择</span>-->
        <span><em
                v-show="commonData.publicModel.curObjType !== 'custom' && commonData.publicModel.curObjType !== 'search'">选择</em><em
                v-text="commonData.publicModel.popTitleText[commonData.publicModel.curObjType]">分类</em></span>
    </div>
    <div class="aite-body free-aite-pops">
        <!--即时搜索，只有复选-->
        <div class="timely-checkbox">
            <div class="aite-list" v-for="(model, index) in commonData.publicModel.curLevelList">
                <div>
                    <p :title="model.obj_name"><span
                        v-for="charObj in model.obj_name_arr"
                        v-text="charObj.char"
                        :class="charObj.mark ? 'redMark' : ''">空</span></p>
                    <p v-for="parent in model.parents" :title="parent.linked_names">
                        <em v-for="charObj in parent.linked_names_arr"
                            v-text="charObj.char"
                            :class="charObj.mark ? 'redMark' : ''">建</em></p>
                </div>
                <div>
                    <div :id="'searchCheckbox' + index" class="pcheckbox"
                         @click="publicMethod.checkObject(model, index)">
                                        <span class="pcheckbox_input"
                                              :class="model.checked ? 'pcheckbox-checked' : ''"></span>
                        <span class="pswitch_label"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--无级别 只有复选-->
        <div class="only-checkbox">
            <div class="aite-list" v-for="(model, index1) in commonData.publicModel.curLevelList">
                <div :title="model.obj_name">
                    <span v-text="model.obj_name"></span>
                </div>
                <div>
                    <div class="pcheckbox"
                         @click="publicMethod.checkObject(model, index1, 'obj', $event)">
                                        <span class="pcheckbox_input"
                                              :class="model.checked ? 'pcheckbox-checked' : ''"></span>
                        <span class="pswitch_label"></span>
                    </div>

                </div>
            </div>
        </div>
        <!--树1-3级，专业、系统搜索、复选-->
        <div class="both-all">
            <div class="system-major" v-show="commonData.publicModel.curObjType=='equip'">
                <div>
                    <span>添加筛选条件:</span>
                </div>
                <pcombobox-normal isborder="false" id="'major-need'" bind="true"
                                  sel="myWorkOrderController.querySystemForSystemDomain">
                    <header placeholder="专业"></header>
                    <item datasource="commonData.publicModel.domainList" text="name"></item>
                </pcombobox-normal>
                <!--<div>+</div>-->
                <pcombobox-normal isborder="false" id="'system'" bind="true" sel="publicMethod.selSystem"
                                  disabled="commonData.publicModel.curSelectedDomain.code ? 'false' : 'true'">
                    <header placeholder="系统"></header>
                    <item datasource="commonData.publicModel.systemList" text="system_name"></item>
                </pcombobox-normal>
            </div>
                <div class="tree-body" :class="{'equip-trees':commonData.publicModel.curObjType=='equip'}">
                    <div class="tree-box">
                        <ptree-normal bind="true" datasource="commonData.publicModel.leftLevel"
                                      sel="yn_method.clickLeftItem">
                            <item text="obj_name" issearch="false" child="content"></item>
                        </ptree-normal>
                    </div>
                    <div class="last-level-box">
                        <div class="aite-list" v-show="commonData.publicModel.curLevelList.length!=0"
                             v-for="(obj,index1) in commonData.publicModel.curLevelList">
                            <div :title="obj.obj_name">
                                <span v-text="obj.obj_name">建筑体</span>
                            </div>
                            <div>
                                <div :id="'noLeftLevelCheckbox'" class="pcheckbox"
                                     @click="publicMethod.checkObject(obj, index1, 'obj')">
                                        <span class="pcheckbox_input"
                                              :class="obj.checked ? 'pcheckbox-checked' : ''"></span>
                                    <span class="pswitch_label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!--自定义-->
        <div class="customize">
            <div v-show="inputToCustomize" class="customize-tips">
                <span>未找到相关内容，您输入的内容将被添加为自定义</span>
            </div>
            <div v-show="inputToCustomize" class="customize-tips">
                <span class="redMark" v-show="inputToCustomizeNameRepeat">自定义名称不允许重复</span>
            </div>
            <div class="customText" v-show="!inputToCustomize">
                <p>自定义</p>
                <ptext-text
                    id="selfText"
                    placeholder="请输入自定义内容">
                    <verify
                        errtip="请输入自定义内容" verifytype="space"></verify>
                    <verify
                        errtip="最多只能输入40个字符" length="40" verifytype="length"></verify>
                </ptext-text>
            </div>
            <div class="belong">
                <div class="belong-title">
                    <h4>所属类别 <span class="aite-cus-tips" v-text="commonData.publicModel.aiteTips"></span></h4>
                </div>
                <div class="belong-category">
                    <div class="category" onclick="yn_method.selObjType('1')"
                         :class="commonData.publicModel.selectedObjType == '1' ? 'selectDiv' : ''">
                        <span>对象</span>
                    </div>
                    <div class="category" onclick="yn_method.selObjType('2')"
                         :class="commonData.publicModel.selectedObjType == '2' ? 'selectDiv' : ''">
                        <span>部件</span>
                    </div>
                    <div class="category" onclick="yn_method.selObjType('3')"
                         :class="commonData.publicModel.selectedObjType == '3' ? 'selectDiv' : ''">
                        <span>工具</span>
                    </div>
                    <div class="category" onclick="yn_method.selObjType('9')"
                         :class="commonData.publicModel.selectedObjType == '9' ? 'selectDiv' : ''">
                        <span>其他</span>
                    </div>
                </div>
            </div>
        </div>
        <!--选择大类-->
        <div class="none-both initTab">
            <div class="aite-list" onclick="myWorkOrderController.queryBuild(this)">
                <div>
                    <span>建筑体</span>
                </div>
            </div>
            <div class="aite-list" onclick="myWorkOrderController.queryFloor(this,true)">
                <div>
                    <span>楼层</span>
                </div>
            </div>
            <div class="aite-list" onclick="myWorkOrderController.queryFloor(this,false)">
                <div>
                    <span>房间</span>
                </div>
            </div>
            <div class="aite-list" onclick="myWorkOrderController.querySystem(this,true)">
                <div>
                    <span>系统</span>
                </div>
            </div>
            <div class="aite-list" onclick="myWorkOrderController.queryBuildFloorSpaceTree(this)">
                <div>
                    <span>设备</span>
                </div>
            </div>
            <div class="aite-list" onclick="myWorkOrderController.queryTempObjectList(this, '2')" v-if="addContentWindow">
                <div>
                    <span>部件</span>
                </div>
            </div>
            <div class="aite-list" onclick="myWorkOrderController.queryTempObjectList(this, '3')" v-if="addContentWindow">
                <div>
                    <span>工具</span>
                </div>
            </div>
        </div>
    </div>
    <div class="aite-footer">
        <div v-show="commonData.publicModel.curObjType !== 'custom'">
            <pbutton-white text="自定义" click="publicMethod.customizeObj"></pbutton-white>
        </div>
        <div v-show="commonData.publicModel.curObjType !== 'custom' && commonData.publicModel.curObjType !== 'init'" class="sureBtnDivs">
            <pbutton-blue text="确定"
                          id="sureBtn"
                          click="publicMethod.confirmCheckedMatterObjs"></pbutton-blue>
        </div>
        <div v-show="commonData.publicModel.curObjType === 'custom'" class="sureBtnDivs">
            <pbutton-blue text="'确定'" bind="true"
                          id="'sureBtn'"
                          @click="publicMethod.confirmCustomizeObj(model,$event)"></pbutton-blue>
        </div>
    </div>
</div>