<div class="content-prev standard-content">
    <div class="prev-title">
        <div class="title-tip-div">
            <span>标准操作要求</span><img src="../images/question.png" class="question" />
            <p>设置工单的操作内容明确的完成标准，工人执行时需按此内容逐步确认。</p>
        </div>
        <div class="edit-clear-div">
            <div class="edit-div" v-show="commonData.publicModel.editBtn">
                <!--<pbutton-white text="编辑" icon="e" isborder="false" click="yn_method.editable"></pbutton-white>-->
                <pbutton-blue text="编辑" icon="e" isborder="false" click="yn_method.editable"></pbutton-blue>
            </div>
            <div class="clear-div" v-show="!commonData.publicModel.editBtn">
                <img src="../images/clear_03.png" alt="清空图标"/>
                <pbutton-blue text="清空"  isborder="false" click="yn_method.delBubbleShow"></pbutton-blue>
            </div>
            <!-- 清空按钮弹窗 -->
            <pwindow-bubble>
                <button>
                    <pbutton-backred text="清空" click="yn_method.clearAll(event,'content','content_objs')"></pbutton-backred>
                    <pbutton-white text="取消" click="yn_method.delBubbleHide"></pbutton-white>
                </button>
            </pwindow-bubble>
        </div>
    </div>
    <div class="prev-body">
        <div class="slide-div operate">
            <div class="textarea-div" >
                <textarea id="content-textarea" maxlength="200" v-model="workContent.content" @blur="publicMethod.blurContentItemOpe(model,$event)"
                          placeholder="例如：从@低压侧负荷分开关 开始停电，然后再停@变压器低压侧总开关 和@高压侧总开关 。监护人需穿@戴绝缘手套 @绝缘鞋 。"
                          @input="publicMethod.changeContent($event)"
                           @keydown="publicMethod.keydownContent(model, 0, $event)"
                          @focus="publicMethod.contentTextAreafocus"
                ></textarea><!-- @blur="publicMethod.blurContentItemOpe"--><!--v-bind:class="{'textcontentError':workContent.content.length>200}"--><!--边框标红报错去掉，改为计数器标红-->

                <!--<div class="obj-fragment-div" onclick="yn_method.contentAiteShow(this,event)">-->
                <div class="obj-fragment-div">
                    <span class="aite-btn" @click="publicMethod.addSpecialChar($event, null, '@', 'content', null)" :class="workContent.disableObjBtn ? 'eleDisable' : ''">@对象/部件/工具</span>
                    <span class="counter" :class="{'errorNumber':workContent.content.length>200}"><b v-text="workContent.content.length">0</b>/200</span>
                </div>
                <div class="textareadiv"></div>
                <div class="textarea-prop" style="display: none">
                    <% include aite.html %>
                </div>
            </div>

        </div>
    </div>
</div>