<div class="content-prev contentResult">
    <div class="prev-title">
        <div class="title-tip-div">
            <span>操作记录要求</span>
            <img src="../images/question.png" class="question"/>
            <p>可在此明确工人执行工单过程中，需要记录或反馈的操作结果。</p>
        </div>
        <div class="edit-clear-div">
            <div class="edit-div" v-show="commonData.publicModel.editBtn">
                <!--<pbutton-white text="编辑" icon="e" isborder="false" click="yn_method.editable"></pbutton-white>-->
                <pbutton-blue text="编辑" icon="e" isborder="false" click="yn_method.editable"></pbutton-blue>

            </div>
            <div class="clear-div" v-show="!commonData.publicModel.editBtn">
                <img src="../images/clear_03.png" alt="清空图标"/>
                <pbutton-blue text="清空" isborder="false" click="yn_method.delBubbleShow"></pbutton-blue>
            </div>
            <!-- 清空按钮弹窗 -->
            <pwindow-bubble>
                <button>
                    <pbutton-backred text="清空" click="yn_method.clearAll(event,'confirm_result')"></pbutton-backred>
                    <pbutton-white text="取消" click="yn_method.delBubbleHide"></pbutton-white>
                </button>
            </pwindow-bubble>
        </div>
    </div>
    <div class="prev-body confirmSlideBody">
        <div class="slide-div result">
            <div class="objs">
                <div class="obj-div" v-show="commonData.publicModel.workContent.confirm_result.length!=0"
                     v-for="(confirmObj, index1) in commonData.publicModel.workContent.confirm_result">
                    <div class="obj-name">
                        <span v-text="confirmObj.obj_name">对象名称1</span>
                        <em v-text="yn_method.getParentsLinks(confirmObj.parents)">(建筑-楼层-空间名称/专业-系统/)</em>
                        <a href="javascript:void (0)" @click="publicMethod.deleteObj(confirmObj, index1, 0)"><i>p</i>删除对象</a>
                    </div>
                    <div class="obj-info-self">
                        <!--选择的信息点列表-->
                        <div class="obj-info">
                            <div class="info-dot" v-for="(info_point, index2) in confirmObj.info_points">
                                <span v-text="info_point.name" :title="info_point.name">信息点1</span>
                                <img src="../images/info_close.png" alt="删除图标x"
                                     @click="publicMethod.deleteInfoPoint(info_point, index2, index1, 0)"/>
                            </div>
                        </div>
                        <!--自定义的信息点列表-->
                        <div class="obj-self">
                            <div class="single-self">
                                <div class="self-div" v-for="(custom, index2) in confirmObj.customs">
                                    <img src="../images/del.png" alt="删除图标-"
                                         @click="publicMethod.deleteCustomizedInfoPoint(custom, index2, index1, 0)">
                                    <div class="info-dot">
                                        <span v-text="custom.name" :title="custom.name">自定义</span>
                                    </div>
                                    <!--<div class="info-dot">
                                        <span v-text="'文本'" v-show="custom.type=='1'"></span>
                                        <span v-text="'单选'" v-show="custom.type=='2'"></span>
                                        <span v-text="'多选'" v-show="custom.type=='3'"></span>
                                        <span v-text="'无单位数字'" v-show="custom.type=='4'"></span>
                                        <span v-text="'有单位数字'" v-show="custom.type=='5'"></span>
                                    </div>-->
                                    <div class="info-dot">
                                        <pcombobox-normal id="'custom-sel'+index1+'sep'+index2" isborder="false"
                                                          bind="true" sel="yn_method.selContent2">
                                            <header placeholder="请选择"></header>
                                            <item datasource="commonData.publicModel.controlsList"
                                                  text="name"></item>
                                        </pcombobox-normal>
                                    </div>
                                    <span v-show="custom.type == '2' || custom.type == '3'"
                                    >选项:</span>
                                    <span v-show="custom.type == '5'"
                                    >单位:</span>
                                    <div class="info-dot" v-show="custom.type == '5'">
                                        <!--<span v-text="custom.unit">平方米</span>-->
                                        <input type="text" :value="custom.unit" v-model="custom.unit" style="width: 139px;"
                                               @keyup="publicMethod.recordUnit(custom.unit,custom,index2,$event)" />
                                        <!--<img src="../images/info_close.png" alt="删除图标x"
                                             onclick="yn_method.removeImage(this)"/>-->
                                    </div>
                                    <div class="info-dot" v-show="custom.type == '2' || custom.type == '3'"
                                         v-for="(item, index3) in custom.items">
                                        <input type="text" :value="item" v-model="item" class="info-self-input"
                                               maxlength="100"
                                               @keyup="publicMethod.recordItem(item,custom,index3,$event)"/>
                                        <img src="../images/info_close.png" alt="删除图标x"
                                             @click="publicMethod.deleteOption2(custom, index3, $event, 0)"/>
                                    </div>
                                    <div class="add-sel-div">
                                        <div class="add-sel-btn" @click="publicMethod.addOption2(custom, $event, 0)"
                                             v-show="custom.type == '2' || custom.type == '3'">
                                            <span class="sel-btn">添加选项</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="add-info-btn">
                            <span class="info-btn"
                                  @click="publicMethod.addInfoPoint(confirmObj, index1, $event, 0)">添加信息点</span>
                            <div class="aite-bubble">
                                <div class="aite-title">
                                    <img src="../images/return_left.png" alt="返回图片"
                                         onclick="yn_method.defaultPage2(this)"
                                         v-show="commonData.publicModel.curObjType2 === 'custom'"/>
                                    <span><em
                                            v-show="commonData.publicModel.curObjType2 !== 'custom' && commonData.publicModel.curObjType2 !== 'search'">选择</em><em
                                            v-text="commonData.publicModel.popTitleText2[commonData.publicModel.curObjType2]"></em></span>
                                </div>
                                <div class="list-search" v-show="commonData.publicModel.curObjType2 !== 'custom'">
                                    <div class="info-search-box">
                                        <input type="text" class="keyinput" oninput="publicMethod.changeKeyword(this)">
                                        <div class="icon-div">
                                            <i onclick="publicMethod.clearInfoPointKeyword(this,1)">x</i>
                                            <i onclick="publicMethod.filterGetInfoPointForObject(this)">f</i>
                                        </div>
                                    </div>
                                    <div class="search-result" v-show="commonData.publicModel.searchResultLength">
                                        <div class="key-result"><span>共搜索到<em
                                                class="search-num"
                                                v-text="commonData.publicModel.searchResultLength"></em>个相关结果</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="aite-body"
                                     :class="{'result-aite-body-nosearch': commonData.publicModel.curObjType2!='search','custom-no-searchAll':commonData.publicModel.curObjType2 === 'custom'}">
                                     <!--:class="commonData.publicModel.searchResultLength ? '':'result-aite-body-nosearch'">-->
                                    <div class="list-body">
                                        <!--无级别 只有复选-->
                                        <div class="only-checkbox">
                                            <div class="aite-list"
                                                 v-for="(info,index) in commonData.publicModel.infoArray">
                                                <div :title="info.name">
                                                    <span v-text="info.name"></span>
                                                </div>
                                                <div>
                                                    <div :id="'classSelectInfoPoint' + index" class="pcheckbox"
                                                         @click="publicMethod.checkInfoPoint(info, index, 0)">
                                                                    <span class="pcheckbox_input"
                                                                          :class="info.checked ? 'pcheckbox-checked' : ''"></span>
                                                        <span class="pswitch_label"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--自定义-->
                                        <div class="customize">
                                            <div>
                                                <p>说明文字</p>
                                                <ptext-text placeholder="请输入要采集内容的说明或介绍">
                                                    <verify errtip="请输入自定义内容" verifytype="space"></verify>
                                                    <verify errtip="最多只能输入40个字符" length="40"
                                                            verifytype="length"></verify>
                                                </ptext-text>
                                            </div>
                                            <div>
                                                <p>使用控件</p>
                                                <div>
                                                    <pcombobox-normal bind="true" sel="yn_method.selContent"
                                                                      id="'sel-controller'">
                                                        <header
                                                                placeholder="请选择"></header>
                                                        <item
                                                                datasource="commonData.publicModel.controlsList"

                                                                text="name"></item>
                                                    </pcombobox-normal>
                                                </div>
                                            </div>
                                            <div v-show="commonData.publicModel.myseltype!=1 && commonData.publicModel.seltype!=4">
                                                <div class="single-select-input">
                                                    <div class="selection-input"
                                                         v-show="commonData.publicModel.seltype==5">
                                                        <p><span>单位</span><em></em></p>
                                                        <div class="unit-div">
                                                            <ptext-text bind="true"
                                                                        placeholder="'请输入要采集数据的单位'">
                                                                <verify errtip="请输入单位" verifytype="space"></verify>
                                                            </ptext-text>
                                                        </div>
                                                    </div>
                                                    <div class="selection-input"
                                                         v-show="commonData.publicModel.seltype==2 || commonData.publicModel.seltype==3"
                                                         v-for="(model, index) in commonData.publicModel.customItem.items">
                                                        <p><span>选项</span><em v-text="index+1">1</em></p>
                                                        <div>
                                                            <ptext-text bind="true" value="model.name">
                                                                <verify
                                                                        errtip="最多只能输入100个字符" length="100"
                                                                        verifytype="length"></verify>
                                                            </ptext-text>
                                                            <i @click="publicMethod.deleteOption(model, index, $event, 0)">p</i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="self-add-select"
                                                     v-show="commonData.publicModel.seltype==2 || commonData.publicModel.seltype==3">
                                                    <div class="self-add-btn"
                                                         @click="publicMethod.addOption($event, 0)">
                                                        <i>J</i>添加选项
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!--搜索无结果-->
                                        <div class="sop-nodata">
                                            <pnotice-nodata text="暂无数据" subtitle="哎呀，什么都没有找到！"
                                                            icon="../images/sassNodata.png"></pnotice-nodata>
                                        </div>
                                    </div>
                                </div>
                                <div class="aite-footer" id="abc">
                                    <div class="customize-btn-div" v-show="commonData.publicModel.curObjType2 !== 'custom'">
                                        <pbutton-white text="自定义" click="publicMethod.customizeInfoPoint2"></pbutton-white>
                                    </div>
                                    <div v-show="commonData.publicModel.curObjType2 !== 'custom'" class="sureBtnDivs">
                                        <pbutton-blue text="确定" id="sureBtn" click="publicMethod.confirmCheckedInfoPoints"></pbutton-blue>
                                    </div>
                                    <div v-show="commonData.publicModel.curObjType2 === 'custom'" class="sureBtnDivs">
                                        <pbutton-blue text="确定" @click="publicMethod.confirmCustomizeInfoPoint2(confirmObj,$event)"></pbutton-blue>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="obj-info-btn">
                <span class="aite-btn" onclick="yn_method.infoBubbleShow(this,event)">+ 添加对象和信息点</span>
                <div class="aite-bubble" style="display: none" onclick="yn_method.preventBubbleFn(event)">
                    <div class="aite-title">
                        <img src="../images/return_left.png" alt="返回图片"
                             onclick="yn_method.defaultPageContent(this,event)"
                             v-show="commonData.publicModel.curObjType2 !== 'init'"/>
                        <span><em
                                v-show="commonData.publicModel.curObjType2 !== 'custom' && commonData.publicModel.curObjType2 !== 'search'">选择</em><em
                                v-text="commonData.publicModel.popTitleText2[commonData.publicModel.curObjType2]"></em></span>
                    </div>
                    <div class="list-search" v-show="commonData.publicModel.curObjType2 !== 'custom'">
                        <div class="info-search-box">
                            <input type="text" class="keyinput" oninput="publicMethod.changeKeyword(this)">
                            <div class="icon-div">
                                <i onclick="publicMethod.clearInfoPointKeyword(this,1)">x</i>
                                <i onclick="myWorkOrderController.searchInfoPoint(this)">f</i>
                            </div>
                        </div>
                        <!--<div class="search-result" v-show="commonData.publicModel.curObjType2!='init' && commonData.publicModel.curObjType2!='custom' && commonData.publicModel.searchResultLength">&lt;!&ndash; v-show="commonData.publicModel.searchResultLength"&ndash;&gt;-->
                        <div class="search-result" v-show="commonData.publicModel.curObjType2==='search'">
                            <div class="key-result"><span>共搜索到<em
                                    class="search-num"
                                    v-text="commonData.publicModel.searchResultLength"></em>个相关结果</span></div>
                        </div>
                    </div>
                    <div class="aite-body"
                         :class="{'result-aite-body-nosearch': commonData.publicModel.curObjType2!='search','custom-no-searchAll':commonData.publicModel.curObjType2 === 'custom'}">
                        <div class="list-body">
                            <!--无复选、搜索，大类-->
                            <div class="none-both initTab">
                                <div class="aite-list"
                                     onclick="myWorkOrderController.querySystemResult(this,true,event)">
                                    <div>
                                        <span>系统</span>
                                    </div>
                                </div>
                                <div class="aite-list"
                                     onclick="myWorkOrderController.queryBuildFloorSpaceTreeResult(this,event)">
                                    <div>
                                        <span>设备</span>
                                    </div>
                                </div>
                            </div>
                            <!--树1-3级，专业、系统搜索、复选-->
                            <div class="both-all"><!-- v-show="false"-->
                                <div class="tree-body">
                                    <div class="tree-box">
                                        <ptree-normal bind="true" id="'result-equip-tree'"
                                                      datasource="commonData.publicModel.leftLevel"
                                                      sel="yn_method.clickLeftItem">
                                            <item text="obj_name" issearch="false" child="content"></item>
                                        </ptree-normal>
                                    </div>
                                    <div class="last-level-box">
                                        <div class="aite-list result-center-level"
                                             v-show="commonData.publicModel.curLevelList.length!=0"
                                             v-for="(obj,index) in commonData.publicModel.curLevelList"
                                             @click="publicMethod.getInfoPointForObject(obj, index, $event, 0)">
                                            <div :title="obj.obj_name">
                                                <span v-text="obj.obj_name">建筑体</span>
                                            </div>
                                            <div></div>
                                        </div>
                                    </div>
                                    <div class="info-level-box">
                                        <div class="aite-list"
                                             v-for="(info,index) in commonData.publicModel.infoArray">
                                            <div :title="info.name">
                                                <span v-text="info.name">建筑体</span>
                                            </div>
                                            <div>
                                                <div :id="'classSelectInfoPoint' + index" class="pcheckbox"
                                                     @click="publicMethod.checkInfoPoint(info, index, 0)">
                                                            <span class="pcheckbox_input"
                                                                  :class="info.checked ? 'pcheckbox-checked' : ''"></span>
                                                    <span class="pswitch_label"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--及时搜索，只有复选-->
                            <div class="timely-checkbox" v-show="commonData.publicModel.curObjType === 'search'">
                                <div class="aite-list"
                                     v-for="(model, index) in commonData.publicModel.curLevelList">
                                    <div>
                                        <p v-if="model.info_point" :title="model.info_point.name">
                                            <span v-if="model.info_point.name_arr"
                                                                         v-for="charObj in model.info_point.name_arr"
                                                                         v-text="charObj.char"
                                                                         :class="charObj.mark ? 'redMark' : ''">空间1</span><span
                                                v-if="!model.info_point.name_arr"
                                                v-text="model.info_point.name"></span></p>
                                        <p v-for="parent in model.parents" v-text="parent.linked_names" :title="parent.linked_names"></p>
                                    </div>
                                    <div>
                                        <div :id="'searchInfoPointCb' + index" class="pcheckbox"
                                             @click="publicMethod.checkInfoPoint(model, index, 0, 1)">
                                        <span class="pcheckbox_input"
                                              :class="model.checked ? 'pcheckbox-checked' : ''"></span>
                                            <span class="pswitch_label"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--自定义-->
                            <div class="customize">
                                <div>
                                    <p>说明文字</p>
                                    <ptext-text placeholder="请输入要采集内容的说明或介绍">
                                        <verify errtip="请输入自定义内容" verifytype="space"></verify>
                                        <verify length="40" errtip="最多只能输入40个字符" verifytype="length"></verify>
                                    </ptext-text>
                                </div>
                                <div>
                                    <p>使用控件</p>
                                    <div>
                                        <pcombobox-normal bind="true" sel="yn_method.selContent" id="'controlSel'">
                                            <header
                                                    placeholder="'请选择'"></header>
                                            <item
                                                    datasource="commonData.publicModel.controlsList"

                                                    text="name"></item>
                                        </pcombobox-normal>
                                    </div>
                                </div>
                                <div v-show="commonData.publicModel.seltype!=1 && commonData.publicModel.seltype!=4">
                                    <div class="single-select-input">
                                        <div class="selection-input" v-show="commonData.publicModel.seltype==5">
                                            <p><span>单位</span><em></em></p>
                                            <div class="unit-div">
                                                <ptext-text bind="true" placeholder="'请输入要采集数据的单位'">
                                                    <verify errtip="请输入单位" verifytype="space"></verify>
                                                </ptext-text>
                                            </div>
                                        </div>
                                        <div class="selection-input"
                                             v-show="commonData.publicModel.seltype==2 || commonData.publicModel.seltype==3 && commonData.publicModel.customItem.items && commonData.publicModel.customItem.items.length"
                                             v-for="(model, index) in commonData.publicModel.customItem.items">
                                            <p><span>选项</span><em v-text="index + 1">1</em></p>
                                            <div>
                                                <ptext-text bind="true" value="model.name">
                                                    <verify
                                                            errtip="最多只能输入100个字符" length="100"
                                                            verifytype="length"></verify>
                                                </ptext-text>
                                                <i @click="publicMethod.deleteOption(model, index, $event, 0)">p</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="self-add-select"
                                         v-show="commonData.publicModel.seltype==2 || commonData.publicModel.seltype==3">
                                        <div class="self-add-btn" @click="publicMethod.addOption($event, 0)">
                                            <i>J</i>添加选项
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--搜索无结果-->
                            <div class="sop-nodata">
                                <pnotice-nodata text="暂无数据" subtitle="哎呀，什么都没有找到！"
                                                icon="../images/sassNodata.png"></pnotice-nodata>
                            </div>
                        </div>
                    </div>
                    <div class="aite-footer" :class="commonData.publicModel.curObjType2 == 'init'?'footer-btn-noborder':''">
                        <div class="customize-btn-div" v-show="commonData.publicModel.curObjType2 == 'infoPoint'">
                            <pbutton-white text="'自定义'" click="publicMethod.customizeInfoPoint" bind="true" disabled="!commonData.publicModel.isCustomizeBtnAble"></pbutton-white>
                        </div>
                        <div v-show="commonData.publicModel.curObjType2 !== 'custom' && commonData.publicModel.curObjType2 !== 'init' && commonData.publicModel.curObjType !== 'search'"
                             class="sureBtnDivs">
                            <pbutton-blue text="'确定'"
                                          id="'sureBtn'" bind="true"
                                          disabled="!commonData.publicModel.isCustomizeBtnAble"
                                          click="publicMethod.confirmCheckedInfoPoints2"></pbutton-blue>
                        </div>
                        <div v-show="commonData.publicModel.curObjType2 !=='init' && commonData.publicModel.curObjType==='search'"
                             class="sureBtnDivs">
                            <pbutton-blue text="'确定'"
                                          id="'sureBtn'" bind="true"
                                          disabled="commonData.publicModel.curObjType!=='search'"
                                          click="publicMethod.confirmCheckedInfoPoints2"></pbutton-blue>
                        </div>
                        <div v-show="commonData.publicModel.curObjType2 === 'custom'" class="sureBtnDivs">
                            <pbutton-blue text="确定"
                                          id="sureBtn"
                                          click="publicMethod.confirmCustomizeInfoPoint"></pbutton-blue>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>