<div class="hashtag-bubble" :class="{'click-aite':commonData.publicModel.clickHashShow}">
    <div class="all-hashtag">
        <div class="hashtag-sop">
            <div class="sop-header">
                <span>选择标准操作</span>
                <div class="sop-header-btn">
                    <span onclick="yn_method.unfold(this,true)">筛选</span>
                    <span onclick="yn_method.unfold(this,false)">收起</span>
                </div>
            </div>
            <div class="sop-body">
                <div class="sop-list" v-show="commonData.publicModel.sopList.length">
                    <!--
                                    <div class="aite-list" v-for="(model, index) in commonData.publicModel.curLevelList" :index="index" :title="model.sop_name">
                                        <div>
                                            <span @click="publicMethod.detailSop(model, $event)"><em v-for="(charObj, index) model.sop_name_arr" v-text="charObj.char" :class="charObj.mark ? 'redMark' : ''"></em></span>
                                        </div>
                                        <div>

                                            &lt;!&ndash;<pswitch-checkbox bind="true" id="model.sop_id" click="publicMethod.checkSop"></pswitch-checkbox>&ndash;&gt;
                                            <div :id="model.sop_id" class="pcheckbox"
                                                 @click="publicMethod.checkObject(model, index, 'sop', $event)">
                                                            <span class="pcheckbox_input"
                                                                  :class="model.checked ? 'pcheckbox-checked' : ''"></span>
                                                <span class="pswitch_label"></span>
                                            </div>

                                        </div>
                                    </div>
                    -->
                    <div class="aite-list" v-for="(model, index) in commonData.publicModel.curLevelList" :index="index"
                         :title="model.sop_name" @click="publicMethod.detailSop(model, $event)">
                        <div>
                            <!--<span v-text="model.sop_name" @click="publicMethod.detailSop(model, $event)"></span>-->
                        <span>
                            <em v-for="charObj in model.sop_name_arr" v-text="charObj.char"
                                :class="charObj.mark ? 'redMark' : ''"></em>
                        </span>
                        </div>
                        <div>

                            <!--<pswitch-checkbox bind="true" id="model.sop_id" click="publicMethod.checkSop"></pswitch-checkbox>-->
                            <div :id="model.sop_id" class="pcheckbox"
                                 @click="publicMethod.checkObject(model, index, 'sop', $event)">
                                        <span class="pcheckbox_input"
                                              :class="model.checked ? 'pcheckbox-checked' : ''"></span>
                                <span class="pswitch_label"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <!--搜索无结果-->
                <div class="sop-nodata" v-show="!commonData.publicModel.sopList.length">
                    <pnotice-nodata text="暂无数据" subtitle="哎呀，什么都没有找到！" icon="../images/sassNodata.png"></pnotice-nodata>
                </div>
                <!--<div class="sop-nodata" v-show="!commonData.publicModel.sopList.length">
                    <div class="image-div">
                        <img src="../images/nodata.png" alt="暂无内容"/>
                        <p>哎呀，什么都没找到！</p>
                    </div>
                </div>-->
            </div>
            <div class="sop-footer">
                <pbutton-blue text="确定" id="able-btn" click="publicMethod.confirmCheckSops"></pbutton-blue>
            </div>
        </div>
        <div class="hashtag-filter">
            <div class="sop-header">
                <span>筛选条件</span>
                <div class="sop-header-btn">
                    <span onclick="publicMethod.selAllTags(null,true)">清空已选</span>
                    <span onclick="publicMethod.toQuerySopListForSel(null,null,null,null,true)">确定</span>
                </div>
            </div>
            <div class="filter-body">
                <div class="filter-box">
                    <div class="filter-div"
                         v-show="commonData.publicModel.sopCriteria.brands && commonData.publicModel.sopCriteria.brands.length">
                        <div class="filter-type">
                            <span>品牌:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all">
                                <span class="sel-all all_brands" onclick="publicMethod.toggleAllTag(event, 1)">全部</span>
                            </div>
                            <div class="filter-other">
                                <span v-for="item in commonData.publicModel.sopCriteria.brandsArr" v-text="item.name"
                                      :title="item.name" @click="publicMethod.selBrand(item, $event)"
                                      :class="item.selected ? 'sel-span' : ''">品牌1</span>
                            </div>

                        </div>
                    </div>
                    <div class="filter-div"
                         v-show="commonData.publicModel.sopCriteria.order_type && commonData.publicModel.sopCriteria.order_type.length">
                        <div class="filter-type">
                            <span>工单类型:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all">
                                <span class="sel-all all_order_type"
                                      onclick="publicMethod.toggleAllTag(event, 2)">全部</span>
                            </div>
                            <div class="filter-other">
                                <span v-for="item in commonData.publicModel.sopCriteria.order_type" v-text="item.name"
                                      :title="item.name" @click="publicMethod.selOrderType(item, $event)"
                                      :class="item.selected ? 'sel-span' : ''"></span>
                            </div>

                        </div>
                    </div>
                    <div class="filter-div"
                         v-show="commonData.publicModel.sopCriteria.fit_objs && commonData.publicModel.sopCriteria.fit_objs.length">
                        <div class="filter-type">
                            <span>适用对象:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all">
                                <span class="sel-all all_fit_objs"
                                      onclick="publicMethod.toggleAllTag(event, 3)">全部</span>
                            </div>
                            <div class="filter-other">
                                <span v-for="item in commonData.publicModel.sopCriteria.fit_objs" v-text="item.obj_name"
                                      :title="item.obj_name" @click="publicMethod.selFitObj(item, $event)"
                                      :class="item.selected ? 'sel-span' : ''"></span>
                            </div>

                        </div>
                    </div>
                    <div class="filter-div"
                         v-show="commonData.publicModel.sopCriteria.labels && commonData.publicModel.sopCriteria.labels.length">
                        <div class="filter-type">
                            <span>自定义:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all">
                                <span class="sel-all all_labels" onclick="publicMethod.toggleAllTag(event, 4)">全部</span>
                            </div>
                            <div class="filter-other">
                                <span v-for="item in commonData.publicModel.sopCriteria.labelsArr" v-text="item.name"
                                      :title="item.name" @click="publicMethod.selLabel(item, $event)"
                                      :class="item.selected ? 'sel-span' : ''"></span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>