<div class="matter-regular" v-show="commonData.publicModel.regular">
    <div class="regular-text-div">
        <div class="regular-obj-text">
            <div class="textarea-div">
                <span>我要对</span>
                <div>
                    <textarea v-model="model.desc_forepart" placeholder="例如：@消防水泵" :class="{'textareaError':model.desc_aftpart.length+model.desc_forepart.length>1000 && model.desc_forepart.length>0}"
                              :maxlength="1000 - model.desc_aftpart.length"
                              @keydown="publicMethod.keydownMatterContent(model, index0, $event, 2)"
                              @input="publicMethod.changeMatterContent(model, index0, $event, null, null, null, 2)"></textarea>
                    <div class="textareadiv"></div>
                    <div class="textarea-prop">
                        <% include aite.html %>
                        <% include hashtag.html %>
                    </div>
                </div>
            </div>
            <div class="add-obj-sop-content">
                <div class="add-obj" @click="publicMethod.addSpecialChar($event, index0, '@', 'obj', 2)" :class="model.disableObjBtn ? 'eleDisable' : ''">
                    <span>@添加对象</span>
                </div>
            </div>
        </div>
        <div class="regular-sop-text">
            <div class="textarea-div">
                <span>进行</span>
                <div>
                    <textarea v-model="model.desc_aftpart" placeholder="例如：#季度维保" :class="{'textareaError':model.desc_aftpart.length+model.desc_forepart.length>1000 && model.desc_aftpart.length>0}"
                              :maxlength="1000 - model.desc_forepart.length"
                              @keydown="publicMethod.keydownMatterContent(model, index0, $event, 3)"
                              @input="publicMethod.changeMatterContent(model, index0, $event, null, null, null, 3)"></textarea>
                    <div class="textareadiv"></div>
                    <div class="textarea-prop">
                        <% include aite.html %>
                        <% include hashtag.html %>
                    </div>
                </div>
            </div>
            <div class="add-obj-sop-content">
                <div class="add-sop" @click="publicMethod.addSpecialChar($event, index0, '#', 'sop', 3)" :class="model.disableSopBtn ? 'eleDisable' : ''">
                    <span>#添加标准操作</span>
                </div>
                <div class="add-content" @click="publicMethod.addContent(model, true, event, index0)">
                    <span>添加工作内容</span>
                </div>
            </div>
            <span class="counter"><b v-text="model.desc_forepart.length+model.desc_aftpart.length">0</b>/1000</span>
        </div>
    </div>
    <% include matterPhoto.html %>
</div>