<div class="matter-freedom" v-show="!commonData.publicModel.regular">
    <div class="textarea-div">
            <textarea class="freedom-textarea" maxlength="1000" v-model="model.description"
                      @keydown="publicMethod.keydownMatterContent(model, index0, $event)"
                      @input="publicMethod.changeMatterContent(model, index0, $event)"
                      placeholder="请输入工作事项，例如：@消防水泵" :class="{'textareaError':model.description.length>1000}"
                      @input="yn_method.counterNum($event)"></textarea>
        <span class="counter"><b class="counterNum" v-text="model.description.length">0</b>/1000</span>
        <div class="add-obj-sop-content">
            <div class="add-obj" @click="publicMethod.addSpecialChar($event, index0, '@', 'obj', 1)" :class="model.disableObjBtn ? 'eleDisable' : ''">
                <span>@添加对象</span>
            </div>
            <div class="add-sop" @click="publicMethod.addSpecialChar($event, index0, '#', 'sop', 1)" :class="model.disableSopBtn ? 'eleDisable' : ''">
                <span>#添加标准操作</span>
            </div>
            <div class="add-content" @click="publicMethod.addContent(model, true, event, index0)">
                <span>添加工作内容</span>
            </div>
        </div>
        <div class="textareadiv"></div>
        <div class="textarea-prop">
            <% include aite.html %>
            <% include hashtag.html %>
        </div>
    </div>
    <% include matterPhoto.html %>
</div>
