<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Saas平台运营平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">

    <script type="text/javascript" src="<%=host%>scripts/lib/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/lib/vue-2.2.0.min.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Array.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Date.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/jQueryDom.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Math.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/Number.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/extend/String.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/ptool.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/pconst.js"></script>
    <script type="text/javascript" src="<%=host%>scripts/tool/pajax.js"></script>
    <script type="text/javascript" src="<%=host%>pcontrol/flatBlueSeries_src_2.0.js"></script>

    <script type="text/javascript" src="/js/public/polyfill.js"></script>
    <script type="text/javascript" src="/js/public/lodash.min.js"></script>
    <script type="text/javascript" src="/js/public/promise.min.js"></script>
    <script type="text/javascript" src="/js/public/createVue.js"></script>

    <link rel="stylesheet" href="<%=host%>pcontrol/css/flatBlueSeries_min_2.0.css" />
    <script src="/js/basicMng/system/index.js"></script>
    <link rel="stylesheet" href="/css/basicMng/system/index.css">

    <link rel="stylesheet" href="/css/basicMng/system/template.css">


    <link rel="stylesheet" href="/css/basicMng/system/manage.css" />
    <script src="/js/basicMng/system/manage/controller.js"></script>
    <script src="/js/basicMng/system/manage/model.js"></script>
    <script src="/js/basicMng/system/manage/event.js"></script>

    <link rel="stylesheet" href="/css/basicMng/system/project.css" />
    <script src="/js/basicMng/system/project/controller.js"></script>
    <script src="/js/basicMng/system/project/model.js"></script>
    <script src="/js/basicMng/system/project/event.js"></script>

    <link rel="stylesheet" href="/css/basicMng/system/build.css" />
    <script src="/js/basicMng/system/build/controller.js"></script>
    <script src="/js/basicMng/system/build/model.js"></script>
    <script src="/js/basicMng/system/build/event.js"></script>


    <link rel="stylesheet" href="/css/basicMng/system/word.css" />
    <script src="/js/basicMng/system/word/controller.js"></script>
    <script src="/js/basicMng/system/word/model.js"></script>
    <script src="/js/basicMng/system/word/event.js"></script>


</head>

<body>
    <% include ./../../equipmentSpace/equipmentMng/layer.html %>
        <% include floatWindow.html %>
            <% include template.html %>
                <% include template1.html %>
                    <% include template2.html %>
                        <div id="component">
                            <div class="component">
                                <ptab-navigation id="navBar" icon="icon" text="name" datasource="buttonMenus" templateid="tabTemplate" beforesel="systemTabbeforeClick"
                                    sel="systemTabClick"></ptab-navigation>
                            </div>
                            <!-- float -->
                            <pwindow-float id="floatWindow" isshade="false" beforehide="" title="名词详情" templateid="floatTemp">
                                <button>
                                    <!-- <pbutton-blue text="编辑" icon="e" click="editFloat"  isborder="false" id="ss"></pbutton-blue> -->
                                    <!-- <pbutton-blue text="取消" icon="e" click="confirmhide" isborder="false" id="ds"></pbutton-blue> -->
                                </button>
                                <animate maxpx="0" minpx="-830" orientation="right"> </animate>
                            </pwindow-float>
                        </div>
                        <ploading-part id='globalloading'></ploading-part>
                        <pnotice-message id='systempnotice'></pnotice-message>

                        <pwindow-confirm id="bubbleWindow">
                            <button>
                                <pbutton-blue text="我点错啦" click="cancelPage()"></pbutton-blue>
                                <pbutton-white text="确定离开" click="goPage()"></pbutton-white>
                            </button>
                        </pwindow-confirm>


                        <script type="text/html" id="tabTemplate">
                                    <% include manage.html %>
                                        <% include project.html %>
                                            <% include build.html %>
                                                <% include word.html %>
                                </script>


</body>

</html>