<!-- 项目管理中的文本组件 Start -->
<script type="text/html" id="projecttexteditor">
    <!-- 未编辑状态Start -->
    <span class='projecttexteditor' :class="{ error: isError,col:!isError }">
        <layer :layer="layer"></layer>
        <span class="text" v-text='value' v-show='!showIDE'></span>
        <em class="ide" v-show='!showIDE' @click='_clickShowIDE()'>e</em>
        <!-- 未编辑状态End -->

        <!-- 编辑状态Start -->
        <div class="input" :id="_clickValueText+'parent'" v-if='isZero' v-show='showIDE'>
            <ptext-text id='_clickValueText' bind='true' value="newValue" bind='true'>
                <verify errtip="不可为空" verifytype="space" length="30">
                </verify>
            </ptext-text>
        </div>
        <div class="input" :id="_clickValueText+'parent'" v-if='!isZero' v-show='showIDE'>
            <ptext-text id='_clickValueText' bind='true' value="newValue" bind='true'>
                <verify errtip="信息点长度最长为30个字符" verifytype="length" length="30">
                </verify>
            </ptext-text>
        </div>
        <em class="smt" v-show='showIDE' @click='_clickWillSubmit($event)'>Z</em>
        <em class="ide" v-show='showIDE' @click='_clickWillCancel($event)'>x</em>
        <!-- 编辑状态End -->
    </span>
</script>

<script>
    Vue.component('projecttexteditor', {
        data: function () {
            return {
                // key: '', // key
                // value: '', //值
                layer: new layerModel(), // 全局共用弹窗
                showIDE: false, //是否展示编辑框
                newValue: '', //新的内容
                isError: false,
                _clickValueText: '',
                input: null,
                parent: null,
                block: null,
                isZero: false,
            };
        },
        template: "#projecttexteditor",
        props: ['key', 'value', 'set', 'keys'],
        beforeMount: function () {

            if (this.keys == "project_local_id" || this.keys == "project_local_name") {
                this.isZero = true;
            } else {
                this.isZero = false;
            }

            // 创建需要修改的属性
            this.newValue = this.value;

            // 生成键值处理input 文本框
            var _clickValueText = ptool.produceId();
            this._clickValueText = _clickValueText;

            var _that = this;
            setTimeout(function () {

                // 控件中生成的input 框
                _that.input = $("#" + _that._clickValueText + "").find("input[type='text']");
                // 包裹控件的外层用户获取当前值的状态
                _that.parent = $('#' + _that._clickValueText + 'parent');
                // 控件自身
                _that.block = $('#' + _that._clickValueText);

                _that.input.on("blur", function () {

                    // 失去焦点赋值更新状态
                    _that.newValue = _that.block.pval();

                    _that.isError = !_that.parent.pverifi();
                }).on('focus', function () {

                    // 获取焦点更新错误状态
                    _that.isError = false;
                });


            }, 0)


        },
        methods: {
            // 显示编辑框
            _clickShowIDE: function () {

                var _that = this;

                this.newValue = this.value;
                this.showIDE = true;

                // setTimeout(function () {
                //     _that.block.pval(_that.value);
                // }, 0);
            },
            // 显示提交确认框
            _clickWillSubmit: function (event) {

                var _that = this,
                    submitCb, getPoints;

                if (this.isError) return;

                getPoints = controllerproject.queryProjectInfoPointHis.bind(null, _that.keys);

                submitCb = function (isNewValue) {
                    var res = {
                        info_point_code: _that.keys,
                        info_point_value: _that.newValue,
                        valid_time: isNewValue.isNewValue, // 判断是否发布新内容
                    }

                    // 提交修改修改完成后的修改列表中的数据
                    controllerproject.updateProjectInfo(res, function () {
                        _that.set(_that.keys, _that.newValue);

                        // 恢复默认值
                        _that.value = _that.newValue;
                        // _that.newValue = ''; //新的内容
                        _that.showIDE = false; //是否展示编辑框
                        _that.isError = false;

                    });
                }

                // 显示提交弹窗
                _that.layer.submit(event.clientX, event.clientY, submitCb, getPoints);

            },
            // 显示取消确认框
            _clickWillCancel: function (event) {
                var _that = this;

                var cancelCb = function () {
                    _that._clickCancelIDE();
                }

                _that.layer.cancel(event.clientX, event.clientY, cancelCb);
            },
            // 取消编辑
            _clickCancelIDE: function () {

                this.showIDE = false; //是否展示编辑框
                this.isError = false;
                // 重置文本框
                this.newValue = this.value;
                this.block.precover(this.newValue);

            },
        }
    })
</script>
<!-- 项目管理中的文本组件 End -->

<!-- 建筑体管理中的文本组件 Start -->
<script type="text/html" id="buildtexteditor">
    <!-- 未编辑状态Start -->
    <span :class="{ error: isError,col:!isError }">
        <layer :layer="layer"></layer>
        <span class="text" v-text='value' v-show='!showIDE'></span>
        <em class="ide" v-show='!showIDE' @click='_clickShowIDE()'>e</em>
        <!-- 未编辑状态End -->

        <!-- 编辑状态Start -->
        <!-- <div class="input" :id="_clickValueText+'parent'" v-if='isZero && keys!="build_age"' v-show='showIDE'>
            <ptext-text id='_clickValueText' bind='true'>
                <verify errtip="信息点内容不可为空,且最大长度为30" length="30" verifytype="space">
                </verify>
            </ptext-text>
        </div>
        <div class="input" :id="_clickValueText+'parent'" v-if='!isZero' v-show='showIDE'>
            <ptext-text id='_clickValueText' bind='true'>
                <verify errtip="最大长度为30" verifytype="length" length="30">
                </verify>
            </ptext-text>
        </div>
        <div class="input" :id="_clickValueText+'parent'" v-if='keys=="build_age"' v-show='showIDE'>
            <ptext-text id='_clickValueText' bind='true'>
                <verify errtip="只支持正整数" verifytype="int"></verify>
                <verify errtip="最大长度为6" verifytype="length" length="6"></verify>
            </ptext-text>
        </div> -->
        <div class="input" :id="_clickValueText+'parent'" v-if='keys=="build_local_id" || keys=="build_local_name"' v-show='showIDE'>
            <ptext-text id='_clickValueText' bind='true' value="newValue">
                <verify errtip="不可为空" verifytype="space"></verify>
                <verify errtip="最大长度为30" verifytype="length" length="30"></verify>
            </ptext-text>
        </div>
        <div class="input" :id="_clickValueText+'parent'" v-if='keys!="build_local_id" && keys!="build_local_name" && keys!="build_age"'
            v-show='showIDE'>
            <ptext-text id='_clickValueText' bind='true' value="newValue">
                <verify errtip="最大长度为30" verifytype="length" length="30">
                </verify>
            </ptext-text>
        </div>
        <div class="input" :id="_clickValueText+'parent'" v-if='keys=="build_age"' v-show='showIDE'>
            <ptext-text id='_clickValueText' bind='true' value="newValue">
                <verify errtip="不可为空" verifytype="space"></verify>
                <verify errtip="只支持正整数" verifytype="int"></verify>
                <verify errtip="最大长度为6" verifytype="length" length="6"></verify>
            </ptext-text>
        </div>
        <em class="smt" v-show='showIDE' @click='_clickWillSubmit($event)'>Z</em>
        <em class="ide" v-show='showIDE' @click='_clickWillCancel($event)'>x</em>
        <!-- 编辑状态End -->
    </span>
</script>

<script>
    Vue.component('buildtexteditor', {
        data: function () {
            return {
                // key: '', // key
                // value: '', //值
                layer: new layerModel(), // 全局共用弹窗
                showIDE: false, //是否展示编辑框
                newValue: '', //新的内容
                isError: false,
                _clickValueText: '',
                input: null,
                parent: null,
                block: null,
                isZero: false,
            };
        },
        template: "#buildtexteditor",
        props: ['key', 'value', 'set', 'keys'],
        beforeMount: function () {

            if (this.keys == "build_local_id" || this.keys == "build_local_name") {
                this.isZero = true;
            };

            // 创建需要修改的属性
            this.newValue = this.value;

            // 生成键值处理input 文本框
            this._clickValueText = ptool.produceId();;

            var _that = this;
            setTimeout(function () {

                // 包裹控件的外层用户获取当前值的状态
                _that.parent = $('#' + _that._clickValueText + 'parent');
                // 控件自身
                _that.block = $('#' + _that._clickValueText);
                // 控件中生成的input 框
                _that.input = $(_that.parent).find("input[type='text']").eq(0);


                if (_that.keys == 'build_age') {
                    window.testest = _that.input;
                };

                _that.input.eq(0).on("blur", function () {

                    // 失去焦点赋值更新状态
                    _that.newValue = _that.block.pval();

                    _that.isError = !_that.parent.pverifi();
                }).on('focus', function () {

                    // 获取焦点更新错误状态
                    _that.isError = false;
                });

                // 文本控件赋值
                _that.block.pval(this.newValue);
            }, 0)
        },
        methods: {
            // 显示编辑框
            _clickShowIDE: function () {

                this.showIDE = true;
                this.newValue = this.value;
            },
            // 显示提交确认框
            _clickWillSubmit: function (event) {

                var _that = this,
                    submitCb, getPoints;

                if (this.isError) return;

                // this.willSubmit = true;

                // 查询历史记录判断是否可以首次直接提交
                getPoints = controllerbuild.queryBuildInfoPointHis.bind(null, _that.keys);

                submitCb = function (isNewValue) {
                    var res = {
                        info_point_code: _that.keys,
                        info_point_value: _that.newValue,
                        valid_time: isNewValue.isNewValue, // 判断是否发布新内容
                        build_id: v.instance.BuildInfo.build_id, //建筑id,saas库中建筑表id，必须
                        build_code: v.instance.BuildInfo.build_code, //建筑体编码，物理世界建筑id，必须
                    }

                    // 提交修改修改完成后的修改列表中的数据
                    controllerbuild.updateBuildInfo(res, function () {
                        
                        _that.set(_that.keys, _that.newValue);

                        // 恢复默认值
                        _that.value = _that.newValue;
                        // _that.newValue = ''; //新的内容

                        _that.showIDE = false; //是否展示编辑框
                        _that.isError = false;

                    });
                }

                // 显示提交弹窗
                _that.layer.submit(event.clientX, event.clientY, submitCb, getPoints);
            },
            // 显示取消确认框
            _clickWillCancel: function (event) {

                var _that = this;

                var cancelCb = function () {
                    _that._clickCancelIDE();
                }

                _that.layer.cancel(event.clientX, event.clientY, cancelCb);
            },
            // 取消编辑
            _clickCancelIDE: function () {

                this.newValue = this.value;
                this.showIDE = false; //是否展示编辑框
                this.isError = false;

                // 重置文本框
                this.block.precover(this.newValue);
            },
        },
        watch: {

        }
    })
</script>
<!-- 建筑体管理中的文本组件 End -->

<!-- 建筑体管理中下拉菜單 Start -->
<script type="text/html" id="buildcomboxeditor">
    <!-- 未编辑状态Start -->
    <span :class="{ error: isError,col:!isError }">
        <layer :layer="layer"></layer>
        <span class="text" v-text='textaValue' v-show='!showIDE'></span>
        <em class="ide" v-show='!showIDE' @click='_clickShowIDE()'>e</em>
        <!-- 未编辑状态End -->

        <!-- 编辑状态Start -->
        <div class="input" v-show='showIDE'>
            <div v-if='!istree'>
                <pcombobox-normal id='_clickCombox' bind='true'>
                    <header placeholder="请选择"></header>
                    <item datasource="datasource" text="name"></item>
                </pcombobox-normal>
            </div>
            <div v-if='istree' style='width:200px;'>
                <pcombobox-normal id='_clickCombox' istree="true" bind='true'>
                    <header placeholder="请选择"></header>
                    <item datasource="datasource" text="name" child="content" pronametoissel="cansel" orientation="right"></item>
                </pcombobox-normal>
            </div>

        </div>
        <em class="smt" v-show='showIDE' @click='_clickWillSubmit($event)'>Z</em>
        <em class="ide" v-show='showIDE' @click='_clickWillCancel($event)'>x</em>
        <!-- 编辑状态End -->

    </span>
</script>

<script>
    Vue.component('buildcomboxeditor', {
        data: function () {
            return {
                layer: new layerModel(), // 全局共用弹窗
                value: {
                    code: '',
                    name: '',
                }, //值
                showIDE: false, //是否展示编辑框
                newValue: '', //新的内容
                isError: false,
                _clickCombox: '',
                input: null,
                style: {},
            };
        },
        template: "#buildcomboxeditor",
        props: ['keys', 'values', 'set', 'datasource', 'istree'],
        computed: {
            textaValue: function () {

                var _that = this;

                // 树类型的单独做判断
                if (this.istree) {

                    function item2info(item) {
                        return {
                            code: item.code,
                            name: item.name,
                        };
                    }

                    function deep(item, con) {

                        if (_.isArray(item.content)) {

                            var deep = arguments.callee;

                            item.content.forEach(function (element) {

                                deep(element, con);
                            });

                        }

                        con.push(item2info(item));

                        return con;
                    }

                    this.treeSource = this.datasource.reduce(function (con, item) {

                        return con.concat(deep(item, []));
                    }, []);

                    this.datasource = this.datasource.map(function (item) {

                        item.cansel = true;

                        item.content = item.content.map(function (item) {

                            item.cansel = true;

                            item.content = item.content.map(function (item) {

                                item.cansel = true;

                                return item;
                            })

                            return item;
                        })

                        return item;
                    });
                }

                _that.value.code = this.values;
                if (_.isNumber(+_that.value.code)) {
                    // 唯一主键

                    // 树接口和的普通下拉菜单分别做处理
                    var index = _that[this.istree ? 'treeSource' : 'datasource'].map(function (item) {
                        return new String(item.code).toString();
                    }).indexOf(new String(_that.value.code).toString());

                    if (!this.istree) {
                        if (index != -1) $("#" + _that._clickCombox).psel(index);
                    }

                    _that.value.value = index == -1 ? "" : _that[this.istree ? 'treeSource' : 'datasource']
                    [index].name;

                    // // 创建需要修改的属性
                    _that.newValue = _that.value;
                }

                return _that.value.value;
            }
        },
        beforeMount: function () {

            // 传入组件的选项键值 赋值给value
            this.value.code = this.values;
            // 创建需要修改的属性
            // this.newValue = this.value;

            // 生成键值处理下拉框
            this._clickCombox = ptool.produceId();
            this._clickDateSelKey = ptool.produceId();

        },
        beforeUpdate: function () {

            var _that = this;

            // 当新传入的值不等于现在当前的现有值的时候
            if (this.values != this.value.code) {


                _that.value.code = this.values;
                if (_.isNumber(+_that.value.code)) {
                    // 唯一主键
                    var index = _that.datasource.map(function (item) {
                        return item.key + '';
                    }).indexOf(+_that.value.code + '');

                    if (index != -1) $("#" + _that._clickCombox).psel(index);

                    _that.value.value = index == -1 ? "" : _that.datasource[index].name;

                    // // 创建需要修改的属性
                    _that.newValue = _that.value;
                }
            }
        },
        methods: {
            // 显示编辑框
            _clickShowIDE: function () {

                var _that = this;

                this.showIDE = true;

                // 树接口和的普通下拉菜单分别做处理
                var index = _that[this.istree ? 'treeSource' : 'datasource'].map(function (item) {
                    return new String(item.code).toString();
                }).indexOf(new String(_that.value.code).toString());

                if (!this.istree) {
                    if (index != -1) $("#" + _that._clickCombox).psel(index);
                }

            },
            // 显示提交确认框
            _clickWillSubmit: function () {

                if (this.isError) return;

                this.willSubmit = true;
                var _that = this;

                var psel=$("#" + _that._clickCombox).psel();

                if (!psel || psel.text=="请选择") {

                    $("#systempnotice").pshow({
                        text: '请选择',
                        state: "failure"
                    });

                    return;
                }

                // 查询历史记录判断是否可以首次直接提交
                getPoints = controllerbuild.queryBuildInfoPointHis.bind(null, _that.keys);

                submitCb = function (isNewValue) {
                    var obj = $("#" + _that._clickCombox).psel();

                    _that.newValue = {
                        code: _that[_that.istree ? 'treeSource' : 'datasource'].filter(function (
                            item) {
                            return item.name == obj.text;
                        })[0].code,
                        name: obj.text,
                    };

                    // 下拉菜单需要提交 index 和对应的名称
                    var reskey = {
                        build_id: v.instance.BuildInfo.build_id, //建筑id,saas库中建筑表id，必须
                        build_code: v.instance.BuildInfo.build_code, //建筑体编码，物理世界建筑id，必须
                        info_point_code: _that.keys,
                        info_point_value: _that.newValue.code,
                        valid_time: isNewValue.isNewValue, // 判断是否发布新内容
                    }

                    // 提交修改修改完成后的修改列表中的数据
                    controllerbuild.updateBuildInfo(reskey, function () {
                        _that.set(_that.keys, _that.newValue.code);

                        _that.set(_that.keys + '_name', _that.newValue.name);

                        // 恢复默认值
                        // _that.value = _that.newValue;
                        // _that.newValue = ''; //新的内容
                    });

                    _that.showIDE = false; //是否展示编辑框
                    _that.isError = false;
                }

                // 显示提交弹窗
                _that.layer.submit(event.clientX, event.clientY, submitCb, getPoints);
            },
            // 显示取消确认框
            _clickWillCancel: function () {

                var _that = this;

                var cancelCb = function () {
                    _that._clickCancelIDE();
                }

                _that.layer.cancel(event.clientX, event.clientY, cancelCb);
            },
            // 取消编辑
            _clickCancelIDE: function () {

                this.newValue = this.value;
                this.showIDE = false; //是否展示编辑框
                this.willSubmit = false; //准备提交，控制提交的再次确认框
                this.willCancel = false; // 准备取消 ,控制取消再次确认框
                this.changeType = false; // 提交类型 true 发布新的内容的，false 修改旧的内容
                this.isError = false;

            }
        }
    })
</script>
<!-- 建筑体管理中下拉菜單 End -->


<!-- 建筑体管理中的文本组件帶單位的 Start -->
<script type="text/html" id="buildtextuniteditor">
    <!-- 未编辑状态Start -->
    <span :class="{ error: isError,col:!isError }">
        <layer :layer="layer"></layer>
        <span class="text" v-text='value + unit' v-show='!showIDE'></span>
        <em class="ide" v-show='!showIDE' @click='_clickShowIDE()'>e</em>
        <!-- 未编辑状态End -->

        <!-- 编辑状态Start -->
        <div class="input" :id="_clickValueText+'parent'" v-if="keys!='permanent_people_num'" v-show='showIDE'>
            <ptext-text text='unit' id='_clickValueText' value="newValue" bind='true'>
                <verify errtip="请输入正数" verifytype="positivenumber">
                </verify>
                <verify errtip="信息点最大长度不能超过30个字符" verifytype="length" length="30">
                </verify>
            </ptext-text>
        </div>
        <div class="input" :id="_clickValueText+'parent'" v-if="keys=='permanent_people_num'" v-show='showIDE'>
            <ptext-text text='unit' id='_clickValueText' value="newValue" bind='true'>
                <verify errtip="请输入整数" verifytype="int">
                </verify>
                <verify errtip="信息点最大长度不能超过30个字符" verifytype="length" length="30">
                </verify>
            </ptext-text>
        </div>
        <em class="smt" v-show='showIDE' @click='_clickWillSubmit($event)'>Z</em>
        <em class="ide" v-show='showIDE' @click='_clickWillCancel($event)'>x</em>
        <!-- 编辑状态End -->
    </span>
</script>

<script>
    Vue.component('buildtextuniteditor', {
        data: function () {
            return {
                // key: '', // key
                // value: '', //值
                layer: new layerModel(), // 全局共用弹窗
                showIDE: false, //是否展示编辑框
                newValue: '', //新的内容
                isError: false,
                _clickValueText: '',
                input: null,
                parent: null,
                block: null,
            };
        },
        template: "#buildtextuniteditor",
        props: ['key', 'value', 'set', 'unit', 'keys'],
        beforeMount: function () {

            // 创建需要修改的属性
            this.newValue = this.value;

            // 生成键值处理input 文本框
            var _clickValueText = ptool.produceId();
            this._clickValueText = _clickValueText;

            var _that = this;
            setTimeout(function () {

                // 控件中生成的input 框
                _that.input = $("#" + _that._clickValueText + "").find("input[type='text']");
                // 包裹控件的外层用户获取当前值的状态
                _that.parent = $('#' + _that._clickValueText + 'parent');
                // 控件自身
                _that.block = $('#' + _that._clickValueText);

                _that.input.on("blur", function () {

                    // 失去焦点赋值更新状态
                    _that.newValue = _that.block.pval();

                    _that.isError = !_that.parent.pverifi();
                }).on('focus', function () {

                    // 获取焦点更新错误状态
                    _that.isError = false;
                });


            }, 0)
        },
        methods: {
            // 显示编辑框
            _clickShowIDE: function () {

                this.showIDE = true;
                this.newValue = this.value;

            },
            // 显示提交确认框
            _clickWillSubmit: function (event) {

                var _that = this,
                    submitCb, getPoints;

                if (this.isError) return;

                getPoints = controllerbuild.queryBuildInfoPointHis.bind(null, _that.keys);

                submitCb = function (isNewValue) {
                    var res = {
                        build_id: v.instance.BuildInfo.build_id, //建筑id,saas库中建筑表id，必须
                        build_code: v.instance.BuildInfo.build_code, //建筑体编码，物理世界建筑id，必须
                        info_point_code: _that.keys,
                        info_point_value: _that.newValue,
                        valid_time: isNewValue.isNewValue, // 判断是否发布新内容
                    }

                    // 提交修改修改完成后的修改列表中的数据
                    controllerbuild.updateBuildInfo(res, function () {

                        _that.set(_that.keys, _that.newValue);

                        // 恢复默认值
                        _that.value = _that.newValue;
                        // _that.newValue = ''; //新的内容

                    });

                    _that.showIDE = false; //是否展示编辑框
                    _that.isError = false;
                }

                // 显示提交弹窗
                _that.layer.submit(event.clientX, event.clientY, submitCb, getPoints);
            },
            // 显示取消确认框
            _clickWillCancel: function () {

                var _that = this;

                var cancelCb = function () {
                    _that._clickCancelIDE();
                }

                _that.layer.cancel(event.clientX, event.clientY, cancelCb);
            },
            // 提交修改
            // _clickSubmit: function () {

            //     var _that = this;

            //     // 获取修改时间
            //     var dateVal = new Date($('#' + this._clickDateSelKey).psel().startTime).format(
            //         'yyyyMMdd') + "000000";
            //     var res = {
            //         build_id: v.instance.BuildInfo.build_id, //建筑id,saas库中建筑表id，必须
            //         build_code: v.instance.BuildInfo.build_code, //建筑体编码，物理世界建筑id，必须
            //         info_point_code: this.keys,
            //         info_point_value: this.newValue,
            //         valid_time: !this.changeType ? dateVal : '', // 判断是否发布新内容
            //     }

            //     // 提交修改修改完成后的修改列表中的数据
            //     controllerbuild.updateBuildInfo(res, function () {

            //         _that.set(_that.keys, _that.newValue);

            //         // 恢复默认值
            //         _that.value = _that.newValue;
            //         _that.newValue = ''; //新的内容

            //     });

            //     _that.showIDE = false; //是否展示编辑框
            //     _that.willSubmit = false; //准备提交，控制提交的再次确认框
            //     _that.willCancel = false; // 准备取消 ,控制取消再次确认框
            //     _that.changeType = false; // 提交类型 true 发布新的内容的，false 修改旧的内容
            //     _that.isError = false;


            // },
            // 取消编辑
            _clickCancelIDE: function () {

                this.newValue = this.value;
                this.showIDE = false; //是否展示编辑框
                this.isError = false;

                // 重置文本框
                this.block.pval(this.newValue);
            },
            // 取消 取消编辑事件
            _clickCancelCancelIDE: function () {
                this.willCancel = false;
            },
        },
        watch: {

        }
    })
</script>
<!-- 建筑体管理中的文本组件帶單位的 End -->