<div id="word" class="system" v-if='onPage=="word"'>
    <div class="word">
        <div class="left">
            <span class="title" v-for='item in nounTypeList' :class='{on:item.isSelecd}' v-text='item.noun_type_name' @click='_queryDeatil(item)'>
            </span>
            <!-- <span class="on title"> 工单类型 </span>
            <span class="title"> 操作模块名称 </span>
            <span class="title"> 专业 </span>
            <span class="title"> 控制需求文字描述 </span>
            <span class="title"> 工单状态 </span> -->
        </div>
        <div class="right">
            <!-- <div class="rightbox"> -->
            <ul class="thead">
                <li>
                    <span class="col">是否使用该项</span>
                    <span class="col">系统标准名称</span>
                    <span class="col">名词释义</span>
                    <span class="col">本地名称</span>
                </li>
            </ul>
            <ul class="tbody">
                <li v-for='(item,index) in showlist' @click.stop='_ideitem(item,index)'>
                    <span class="col">
                        <div @click.stop='_changeCustomerUse(item,index)'>
                            <div class="per-switch-slide" style="margin-top:10px">
                                <span class="per-slide-Bg" :class='{"per-slide-checked":item.customer_use}'></span>
                                <span class="per-switch_round"></span>
                            </div>
                        </div>
                    </span>
                    <span class="col" v-text='item.name'></span>
                    <span class="col" v-text='item.description' :title="item.description"></span>
                    <span class="col" v-text='item.customer_name'></span>
                </li>
            </ul>
            <!-- </div> -->
        </div>
    </div>
</div>